/*
OpenAPI UniBee

UniBee Api Server

API version: daily,buildtime:202508050652
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package unibee

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SessionService Session service
type SessionService service

type SessionSessionNewSessionPostRequest struct {
	ctx context.Context
	ApiService *SessionService
	unibeeApiMerchantSessionNewReq *UnibeeApiMerchantSessionNewReq
}

func (r SessionSessionNewSessionPostRequest) UnibeeApiMerchantSessionNewReq(unibeeApiMerchantSessionNewReq UnibeeApiMerchantSessionNewReq) SessionSessionNewSessionPostRequest {
	r.unibeeApiMerchantSessionNewReq = &unibeeApiMerchantSessionNewReq
	return r
}

func (r SessionSessionNewSessionPostRequest) Execute() (*MerchantSessionNewSessionPost200Response, *http.Response, error) {
	return r.ApiService.SessionNewSessionPostExecute(r)
}

/*
SessionNewSessionPost New User Portal Session

New session for user portal or web component

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SessionSessionNewSessionPostRequest
*/
func (a *SessionService) SessionNewSessionPost(ctx context.Context) SessionSessionNewSessionPostRequest {
	return SessionSessionNewSessionPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSessionNewSessionPost200Response
func (a *SessionService) SessionNewSessionPostExecute(r SessionSessionNewSessionPostRequest) (*MerchantSessionNewSessionPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSessionNewSessionPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionService.SessionNewSessionPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/session/new_session"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSessionNewReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSessionNewReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSessionNewReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionSessionUserSubUpdateUrlGetRequest struct {
	ctx context.Context
	ApiService *SessionService
	email *string
	userId *int64
	externalUserId *string
	productId *int64
	planId *int64
	vatCountryCode *string
	returnUrl *string
	cancelUrl *string
}

// Email, unique, either ExternalUserId&amp;Email or UserId needed
func (r SessionSessionUserSubUpdateUrlGetRequest) Email(email string) SessionSessionUserSubUpdateUrlGetRequest {
	r.email = &email
	return r
}

// UserId, unique, either ExternalUserId&amp;Email or UserId needed
func (r SessionSessionUserSubUpdateUrlGetRequest) UserId(userId int64) SessionSessionUserSubUpdateUrlGetRequest {
	r.userId = &userId
	return r
}

// ExternalUserId, unique, either ExternalUserId&amp;Email or UserId needed
func (r SessionSessionUserSubUpdateUrlGetRequest) ExternalUserId(externalUserId string) SessionSessionUserSubUpdateUrlGetRequest {
	r.externalUserId = &externalUserId
	return r
}

// default product will use if productId not specified
func (r SessionSessionUserSubUpdateUrlGetRequest) ProductId(productId int64) SessionSessionUserSubUpdateUrlGetRequest {
	r.productId = &productId
	return r
}

// Id of plan to update
func (r SessionSessionUserSubUpdateUrlGetRequest) PlanId(planId int64) SessionSessionUserSubUpdateUrlGetRequest {
	r.planId = &planId
	return r
}

// Vat Country Code
func (r SessionSessionUserSubUpdateUrlGetRequest) VatCountryCode(vatCountryCode string) SessionSessionUserSubUpdateUrlGetRequest {
	r.vatCountryCode = &vatCountryCode
	return r
}

// ReturnUrl
func (r SessionSessionUserSubUpdateUrlGetRequest) ReturnUrl(returnUrl string) SessionSessionUserSubUpdateUrlGetRequest {
	r.returnUrl = &returnUrl
	return r
}

// CancelUrl
func (r SessionSessionUserSubUpdateUrlGetRequest) CancelUrl(cancelUrl string) SessionSessionUserSubUpdateUrlGetRequest {
	r.cancelUrl = &cancelUrl
	return r
}

func (r SessionSessionUserSubUpdateUrlGetRequest) Execute() (*MerchantGetLicenseUpdateUrlGet200Response, *http.Response, error) {
	return r.ApiService.SessionUserSubUpdateUrlGetExecute(r)
}

/*
SessionUserSubUpdateUrlGet Get User Subscription Update Page Url

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SessionSessionUserSubUpdateUrlGetRequest
*/
func (a *SessionService) SessionUserSubUpdateUrlGet(ctx context.Context) SessionSessionUserSubUpdateUrlGetRequest {
	return SessionSessionUserSubUpdateUrlGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantGetLicenseUpdateUrlGet200Response
func (a *SessionService) SessionUserSubUpdateUrlGetExecute(r SessionSessionUserSubUpdateUrlGetRequest) (*MerchantGetLicenseUpdateUrlGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantGetLicenseUpdateUrlGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionService.SessionUserSubUpdateUrlGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/session/user_sub_update_url"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "")
	}
	if r.externalUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalUserId", r.externalUserId, "")
	}
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productId", r.productId, "")
	}
	if r.planId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "planId", r.planId, "")
	}
	if r.vatCountryCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "vatCountryCode", r.vatCountryCode, "")
	}
	if r.returnUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnUrl", r.returnUrl, "")
	}
	if r.cancelUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelUrl", r.cancelUrl, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SessionSessionUserSubUpdateUrlPostRequest struct {
	ctx context.Context
	ApiService *SessionService
	unibeeApiMerchantSessionNewSubUpdatePageReq *UnibeeApiMerchantSessionNewSubUpdatePageReq
}

func (r SessionSessionUserSubUpdateUrlPostRequest) UnibeeApiMerchantSessionNewSubUpdatePageReq(unibeeApiMerchantSessionNewSubUpdatePageReq UnibeeApiMerchantSessionNewSubUpdatePageReq) SessionSessionUserSubUpdateUrlPostRequest {
	r.unibeeApiMerchantSessionNewSubUpdatePageReq = &unibeeApiMerchantSessionNewSubUpdatePageReq
	return r
}

func (r SessionSessionUserSubUpdateUrlPostRequest) Execute() (*MerchantGetLicenseUpdateUrlGet200Response, *http.Response, error) {
	return r.ApiService.SessionUserSubUpdateUrlPostExecute(r)
}

/*
SessionUserSubUpdateUrlPost Get User Subscription Update Page Url

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return SessionSessionUserSubUpdateUrlPostRequest
*/
func (a *SessionService) SessionUserSubUpdateUrlPost(ctx context.Context) SessionSessionUserSubUpdateUrlPostRequest {
	return SessionSessionUserSubUpdateUrlPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantGetLicenseUpdateUrlGet200Response
func (a *SessionService) SessionUserSubUpdateUrlPostExecute(r SessionSessionUserSubUpdateUrlPostRequest) (*MerchantGetLicenseUpdateUrlGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantGetLicenseUpdateUrlGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SessionService.SessionUserSubUpdateUrlPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/session/user_sub_update_url"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSessionNewSubUpdatePageReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSessionNewSubUpdatePageReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSessionNewSubUpdatePageReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
