/*
OpenAPI UniBee

UniBee Api Server

API version: daily,buildtime:202512220824
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package unibee

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// BatchDiscountService BatchDiscount service
type BatchDiscountService service

type BatchDiscountDiscountBatchChildrenDetailGetRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	id *int64
}

// The child code&#39;s Id
func (r BatchDiscountDiscountBatchChildrenDetailGetRequest) Id(id int64) BatchDiscountDiscountBatchChildrenDetailGetRequest {
	r.id = &id
	return r
}

func (r BatchDiscountDiscountBatchChildrenDetailGetRequest) Execute() (*MerchantDiscountBatchChildrenDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchChildrenDetailGetExecute(r)
}

/*
DiscountBatchChildrenDetailGet Get Batch Child Code Detail

Get detail of a specific batch child code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchChildrenDetailGetRequest
*/
func (a *BatchDiscountService) DiscountBatchChildrenDetailGet(ctx context.Context) BatchDiscountDiscountBatchChildrenDetailGetRequest {
	return BatchDiscountDiscountBatchChildrenDetailGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchChildrenDetailGet200Response
func (a *BatchDiscountService) DiscountBatchChildrenDetailGetExecute(r BatchDiscountDiscountBatchChildrenDetailGetRequest) (*MerchantDiscountBatchChildrenDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchChildrenDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchChildrenDetailGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/children/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchChildrenDetailPostRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	unibeeApiMerchantDiscountBatchChildrenDetailReq *UnibeeApiMerchantDiscountBatchChildrenDetailReq
}

func (r BatchDiscountDiscountBatchChildrenDetailPostRequest) UnibeeApiMerchantDiscountBatchChildrenDetailReq(unibeeApiMerchantDiscountBatchChildrenDetailReq UnibeeApiMerchantDiscountBatchChildrenDetailReq) BatchDiscountDiscountBatchChildrenDetailPostRequest {
	r.unibeeApiMerchantDiscountBatchChildrenDetailReq = &unibeeApiMerchantDiscountBatchChildrenDetailReq
	return r
}

func (r BatchDiscountDiscountBatchChildrenDetailPostRequest) Execute() (*MerchantDiscountBatchChildrenDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchChildrenDetailPostExecute(r)
}

/*
DiscountBatchChildrenDetailPost Get Batch Child Code Detail

Get detail of a specific batch child code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchChildrenDetailPostRequest
*/
func (a *BatchDiscountService) DiscountBatchChildrenDetailPost(ctx context.Context) BatchDiscountDiscountBatchChildrenDetailPostRequest {
	return BatchDiscountDiscountBatchChildrenDetailPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchChildrenDetailGet200Response
func (a *BatchDiscountService) DiscountBatchChildrenDetailPostExecute(r BatchDiscountDiscountBatchChildrenDetailPostRequest) (*MerchantDiscountBatchChildrenDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchChildrenDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchChildrenDetailPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/children/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantDiscountBatchChildrenDetailReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantDiscountBatchChildrenDetailReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantDiscountBatchChildrenDetailReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchChildrenGeneratePostRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	unibeeApiMerchantDiscountBatchChildrenGenerateReq *UnibeeApiMerchantDiscountBatchChildrenGenerateReq
}

func (r BatchDiscountDiscountBatchChildrenGeneratePostRequest) UnibeeApiMerchantDiscountBatchChildrenGenerateReq(unibeeApiMerchantDiscountBatchChildrenGenerateReq UnibeeApiMerchantDiscountBatchChildrenGenerateReq) BatchDiscountDiscountBatchChildrenGeneratePostRequest {
	r.unibeeApiMerchantDiscountBatchChildrenGenerateReq = &unibeeApiMerchantDiscountBatchChildrenGenerateReq
	return r
}

func (r BatchDiscountDiscountBatchChildrenGeneratePostRequest) Execute() (*MerchantDiscountBatchChildrenGeneratePost200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchChildrenGeneratePostExecute(r)
}

/*
DiscountBatchChildrenGeneratePost Generate Batch Child Codes

Generate child codes for a batch template. Template must be in active status. Supports initial generation, retry on failure, and incremental expansion. Either templateId or templateCode must be provided. If quantity > 1000, isAsync must be set to true. Default is synchronous execution.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchChildrenGeneratePostRequest
*/
func (a *BatchDiscountService) DiscountBatchChildrenGeneratePost(ctx context.Context) BatchDiscountDiscountBatchChildrenGeneratePostRequest {
	return BatchDiscountDiscountBatchChildrenGeneratePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchChildrenGeneratePost200Response
func (a *BatchDiscountService) DiscountBatchChildrenGeneratePostExecute(r BatchDiscountDiscountBatchChildrenGeneratePostRequest) (*MerchantDiscountBatchChildrenGeneratePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchChildrenGeneratePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchChildrenGeneratePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/children/generate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantDiscountBatchChildrenGenerateReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantDiscountBatchChildrenGenerateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantDiscountBatchChildrenGenerateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchChildrenListGetRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	templateId *int64
	code *string
	sortField *string
	sortType *string
	page *int32
	count *int32
	createTimeStart *int64
	createTimeEnd *int64
}

// The template&#39;s Id
func (r BatchDiscountDiscountBatchChildrenListGetRequest) TemplateId(templateId int64) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.templateId = &templateId
	return r
}

// Filter by child code, fuzzy search
func (r BatchDiscountDiscountBatchChildrenListGetRequest) Code(code string) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.code = &code
	return r
}

// Sort field, gmt_create|gmt_modify, default gmt_create
func (r BatchDiscountDiscountBatchChildrenListGetRequest) SortField(sortField string) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.sortField = &sortField
	return r
}

// Sort type, asc|desc, default desc
func (r BatchDiscountDiscountBatchChildrenListGetRequest) SortType(sortType string) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.sortType = &sortType
	return r
}

// Page number, start from 0
func (r BatchDiscountDiscountBatchChildrenListGetRequest) Page(page int32) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.page = &page
	return r
}

// Count per page
func (r BatchDiscountDiscountBatchChildrenListGetRequest) Count(count int32) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.count = &count
	return r
}

// Filter by create time start, UTC timestamp in seconds
func (r BatchDiscountDiscountBatchChildrenListGetRequest) CreateTimeStart(createTimeStart int64) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.createTimeStart = &createTimeStart
	return r
}

// Filter by create time end, UTC timestamp in seconds
func (r BatchDiscountDiscountBatchChildrenListGetRequest) CreateTimeEnd(createTimeEnd int64) BatchDiscountDiscountBatchChildrenListGetRequest {
	r.createTimeEnd = &createTimeEnd
	return r
}

func (r BatchDiscountDiscountBatchChildrenListGetRequest) Execute() (*MerchantDiscountBatchChildrenListGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchChildrenListGetExecute(r)
}

/*
DiscountBatchChildrenListGet Get Batch Child Codes List

Get list of child codes for a specific batch template

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchChildrenListGetRequest
*/
func (a *BatchDiscountService) DiscountBatchChildrenListGet(ctx context.Context) BatchDiscountDiscountBatchChildrenListGetRequest {
	return BatchDiscountDiscountBatchChildrenListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchChildrenListGet200Response
func (a *BatchDiscountService) DiscountBatchChildrenListGetExecute(r BatchDiscountDiscountBatchChildrenListGetRequest) (*MerchantDiscountBatchChildrenListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchChildrenListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchChildrenListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/children/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.templateId == nil {
		return localVarReturnValue, nil, reportError("templateId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "templateId", r.templateId, "")
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortType", r.sortType, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.createTimeStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createTimeStart", r.createTimeStart, "")
	}
	if r.createTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createTimeEnd", r.createTimeEnd, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchTemplateDetailGetRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	id *int64
}

// The template&#39;s Id
func (r BatchDiscountDiscountBatchTemplateDetailGetRequest) Id(id int64) BatchDiscountDiscountBatchTemplateDetailGetRequest {
	r.id = &id
	return r
}

func (r BatchDiscountDiscountBatchTemplateDetailGetRequest) Execute() (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchTemplateDetailGetExecute(r)
}

/*
DiscountBatchTemplateDetailGet Get Batch Template Detail

Get batch discount template detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchTemplateDetailGetRequest
*/
func (a *BatchDiscountService) DiscountBatchTemplateDetailGet(ctx context.Context) BatchDiscountDiscountBatchTemplateDetailGetRequest {
	return BatchDiscountDiscountBatchTemplateDetailGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchTemplateDetailGet200Response
func (a *BatchDiscountService) DiscountBatchTemplateDetailGetExecute(r BatchDiscountDiscountBatchTemplateDetailGetRequest) (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchTemplateDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchTemplateDetailGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/template/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.id == nil {
		return localVarReturnValue, nil, reportError("id is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchTemplateDetailPostRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	unibeeApiMerchantDiscountBatchTemplateDetailReq *UnibeeApiMerchantDiscountBatchTemplateDetailReq
}

func (r BatchDiscountDiscountBatchTemplateDetailPostRequest) UnibeeApiMerchantDiscountBatchTemplateDetailReq(unibeeApiMerchantDiscountBatchTemplateDetailReq UnibeeApiMerchantDiscountBatchTemplateDetailReq) BatchDiscountDiscountBatchTemplateDetailPostRequest {
	r.unibeeApiMerchantDiscountBatchTemplateDetailReq = &unibeeApiMerchantDiscountBatchTemplateDetailReq
	return r
}

func (r BatchDiscountDiscountBatchTemplateDetailPostRequest) Execute() (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchTemplateDetailPostExecute(r)
}

/*
DiscountBatchTemplateDetailPost Get Batch Template Detail

Get batch discount template detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchTemplateDetailPostRequest
*/
func (a *BatchDiscountService) DiscountBatchTemplateDetailPost(ctx context.Context) BatchDiscountDiscountBatchTemplateDetailPostRequest {
	return BatchDiscountDiscountBatchTemplateDetailPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchTemplateDetailGet200Response
func (a *BatchDiscountService) DiscountBatchTemplateDetailPostExecute(r BatchDiscountDiscountBatchTemplateDetailPostRequest) (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchTemplateDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchTemplateDetailPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/template/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantDiscountBatchTemplateDetailReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantDiscountBatchTemplateDetailReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantDiscountBatchTemplateDetailReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchTemplateEditPostRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	unibeeApiMerchantDiscountBatchTemplateEditReq *UnibeeApiMerchantDiscountBatchTemplateEditReq
}

func (r BatchDiscountDiscountBatchTemplateEditPostRequest) UnibeeApiMerchantDiscountBatchTemplateEditReq(unibeeApiMerchantDiscountBatchTemplateEditReq UnibeeApiMerchantDiscountBatchTemplateEditReq) BatchDiscountDiscountBatchTemplateEditPostRequest {
	r.unibeeApiMerchantDiscountBatchTemplateEditReq = &unibeeApiMerchantDiscountBatchTemplateEditReq
	return r
}

func (r BatchDiscountDiscountBatchTemplateEditPostRequest) Execute() (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchTemplateEditPostExecute(r)
}

/*
DiscountBatchTemplateEditPost Edit Batch Discount Template

Edit batch discount template. CodePrefix cannot be modified. Quantity can only be increased after activation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchTemplateEditPostRequest
*/
func (a *BatchDiscountService) DiscountBatchTemplateEditPost(ctx context.Context) BatchDiscountDiscountBatchTemplateEditPostRequest {
	return BatchDiscountDiscountBatchTemplateEditPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchTemplateDetailGet200Response
func (a *BatchDiscountService) DiscountBatchTemplateEditPostExecute(r BatchDiscountDiscountBatchTemplateEditPostRequest) (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchTemplateDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchTemplateEditPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/template/edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantDiscountBatchTemplateEditReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantDiscountBatchTemplateEditReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantDiscountBatchTemplateEditReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchTemplateListGetRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	discountType *[]int32
	billingType *[]int32
	status *[]int32
	codePrefix *string
	searchKey *string
	currency *string
	sortField *string
	sortType *string
	page *int32
	count *int32
	createTimeStart *int64
	createTimeEnd *int64
}

// Filter by discount_type, 1-percentage, 2-fixed_amount
func (r BatchDiscountDiscountBatchTemplateListGetRequest) DiscountType(discountType []int32) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.discountType = &discountType
	return r
}

// Filter by billing_type, 1-one-time, 2-recurring
func (r BatchDiscountDiscountBatchTemplateListGetRequest) BillingType(billingType []int32) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.billingType = &billingType
	return r
}

// Filter by status, 1-editable, 2-active, 3-deactive, 4-expire, 10-archive
func (r BatchDiscountDiscountBatchTemplateListGetRequest) Status(status []int32) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.status = &status
	return r
}

// Filter by code prefix
func (r BatchDiscountDiscountBatchTemplateListGetRequest) CodePrefix(codePrefix string) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.codePrefix = &codePrefix
	return r
}

// Search by code prefix or name
func (r BatchDiscountDiscountBatchTemplateListGetRequest) SearchKey(searchKey string) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.searchKey = &searchKey
	return r
}

// Filter by currency
func (r BatchDiscountDiscountBatchTemplateListGetRequest) Currency(currency string) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.currency = &currency
	return r
}

// Sort field, gmt_create|gmt_modify, default gmt_modify
func (r BatchDiscountDiscountBatchTemplateListGetRequest) SortField(sortField string) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.sortField = &sortField
	return r
}

// Sort type, asc|desc, default desc
func (r BatchDiscountDiscountBatchTemplateListGetRequest) SortType(sortType string) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.sortType = &sortType
	return r
}

// Page number, start from 0
func (r BatchDiscountDiscountBatchTemplateListGetRequest) Page(page int32) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.page = &page
	return r
}

// Count per page
func (r BatchDiscountDiscountBatchTemplateListGetRequest) Count(count int32) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.count = &count
	return r
}

// Filter by create time start, UTC timestamp in seconds
func (r BatchDiscountDiscountBatchTemplateListGetRequest) CreateTimeStart(createTimeStart int64) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.createTimeStart = &createTimeStart
	return r
}

// Filter by create time end, UTC timestamp in seconds
func (r BatchDiscountDiscountBatchTemplateListGetRequest) CreateTimeEnd(createTimeEnd int64) BatchDiscountDiscountBatchTemplateListGetRequest {
	r.createTimeEnd = &createTimeEnd
	return r
}

func (r BatchDiscountDiscountBatchTemplateListGetRequest) Execute() (*MerchantDiscountBatchTemplateListGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchTemplateListGetExecute(r)
}

/*
DiscountBatchTemplateListGet Get Batch Template List

Get batch discount template list

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchTemplateListGetRequest
*/
func (a *BatchDiscountService) DiscountBatchTemplateListGet(ctx context.Context) BatchDiscountDiscountBatchTemplateListGetRequest {
	return BatchDiscountDiscountBatchTemplateListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchTemplateListGet200Response
func (a *BatchDiscountService) DiscountBatchTemplateListGetExecute(r BatchDiscountDiscountBatchTemplateListGetRequest) (*MerchantDiscountBatchTemplateListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchTemplateListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchTemplateListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/template/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.discountType != nil {
		t := *r.discountType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "discountType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "discountType", t, "multi")
		}
	}
	if r.billingType != nil {
		t := *r.billingType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "billingType", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "billingType", t, "multi")
		}
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "multi")
		}
	}
	if r.codePrefix != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "codePrefix", r.codePrefix, "")
	}
	if r.searchKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchKey", r.searchKey, "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortType", r.sortType, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	if r.createTimeStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createTimeStart", r.createTimeStart, "")
	}
	if r.createTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createTimeEnd", r.createTimeEnd, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchTemplateNewPostRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	unibeeApiMerchantDiscountBatchTemplateNewReq *UnibeeApiMerchantDiscountBatchTemplateNewReq
}

func (r BatchDiscountDiscountBatchTemplateNewPostRequest) UnibeeApiMerchantDiscountBatchTemplateNewReq(unibeeApiMerchantDiscountBatchTemplateNewReq UnibeeApiMerchantDiscountBatchTemplateNewReq) BatchDiscountDiscountBatchTemplateNewPostRequest {
	r.unibeeApiMerchantDiscountBatchTemplateNewReq = &unibeeApiMerchantDiscountBatchTemplateNewReq
	return r
}

func (r BatchDiscountDiscountBatchTemplateNewPostRequest) Execute() (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchTemplateNewPostExecute(r)
}

/*
DiscountBatchTemplateNewPost Create Batch Discount Template

Create a batch discount code template. Template must be activated before generating child codes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchTemplateNewPostRequest
*/
func (a *BatchDiscountService) DiscountBatchTemplateNewPost(ctx context.Context) BatchDiscountDiscountBatchTemplateNewPostRequest {
	return BatchDiscountDiscountBatchTemplateNewPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchTemplateDetailGet200Response
func (a *BatchDiscountService) DiscountBatchTemplateNewPostExecute(r BatchDiscountDiscountBatchTemplateNewPostRequest) (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchTemplateDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchTemplateNewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/template/new"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantDiscountBatchTemplateNewReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantDiscountBatchTemplateNewReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantDiscountBatchTemplateNewReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest struct {
	ctx context.Context
	ApiService *BatchDiscountService
	unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq *UnibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq
}

func (r BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest) UnibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq(unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq UnibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq) BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest {
	r.unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq = &unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq
	return r
}

func (r BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest) Execute() (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	return r.ApiService.DiscountBatchTemplateQuantityIncrementPostExecute(r)
}

/*
DiscountBatchTemplateQuantityIncrementPost Increment Template Quantity

Increment batch template quantity. Template must be activated. Total quantity after increment must not exceed 10000.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest
*/
func (a *BatchDiscountService) DiscountBatchTemplateQuantityIncrementPost(ctx context.Context) BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest {
	return BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantDiscountBatchTemplateDetailGet200Response
func (a *BatchDiscountService) DiscountBatchTemplateQuantityIncrementPostExecute(r BatchDiscountDiscountBatchTemplateQuantityIncrementPostRequest) (*MerchantDiscountBatchTemplateDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantDiscountBatchTemplateDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BatchDiscountService.DiscountBatchTemplateQuantityIncrementPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/discount/batch/template/quantity_increment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantDiscountBatchTemplateQuantityIncrementReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
