/*
OpenAPI UniBee

UniBee Api Server

API version: daily,buildtime:202602230711
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package unibee

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// UserMetricService UserMetric service
type UserMetricService service

type UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest struct {
	ctx context.Context
	ApiService *UserMetricService
	userId *int64
	subscriptionId *string
	page *int32
	count *int32
}

// UserId
func (r UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest) UserId(userId int64) UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest {
	r.userId = &userId
	return r
}

// Optional subscription id to filter by subscription
func (r UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest) SubscriptionId(subscriptionId string) UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest {
	r.subscriptionId = &subscriptionId
	return r
}

// Page, start 0
func (r UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest) Page(page int32) UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest {
	r.page = &page
	return r
}

// Count per page
func (r UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest) Count(count int32) UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest {
	r.count = &count
	return r
}

func (r UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest) Execute() (*MerchantInvoiceListGet200Response, *http.Response, error) {
	return r.ApiService.MetricUserHistoryInvoicesMetricQueryableGetExecute(r)
}

/*
MetricUserHistoryInvoicesMetricQueryableGet List invoices that can be used for metric_by_invoice (paid, subscription cycle only)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest
*/
func (a *UserMetricService) MetricUserHistoryInvoicesMetricQueryableGet(ctx context.Context) UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest {
	return UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantInvoiceListGet200Response
func (a *UserMetricService) MetricUserHistoryInvoicesMetricQueryableGetExecute(r UserMetricMetricUserHistoryInvoicesMetricQueryableGetRequest) (*MerchantInvoiceListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantInvoiceListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserMetricService.MetricUserHistoryInvoicesMetricQueryableGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/metric/user/history/invoices_metric_queryable"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "")
	if r.subscriptionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subscriptionId", r.subscriptionId, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserMetricMetricUserHistoryMetricByInvoiceGetRequest struct {
	ctx context.Context
	ApiService *UserMetricService
	invoiceId *string
}

// The unique id of invoice
func (r UserMetricMetricUserHistoryMetricByInvoiceGetRequest) InvoiceId(invoiceId string) UserMetricMetricUserHistoryMetricByInvoiceGetRequest {
	r.invoiceId = &invoiceId
	return r
}

func (r UserMetricMetricUserHistoryMetricByInvoiceGetRequest) Execute() (*MerchantMetricUserHistoryMetricByInvoiceGet200Response, *http.Response, error) {
	return r.ApiService.MetricUserHistoryMetricByInvoiceGetExecute(r)
}

/*
MetricUserHistoryMetricByInvoiceGet Query User History Limit Metric By Invoice (History Query Mode, limit_metered and limit_recurring only)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserMetricMetricUserHistoryMetricByInvoiceGetRequest
*/
func (a *UserMetricService) MetricUserHistoryMetricByInvoiceGet(ctx context.Context) UserMetricMetricUserHistoryMetricByInvoiceGetRequest {
	return UserMetricMetricUserHistoryMetricByInvoiceGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantMetricUserHistoryMetricByInvoiceGet200Response
func (a *UserMetricService) MetricUserHistoryMetricByInvoiceGetExecute(r UserMetricMetricUserHistoryMetricByInvoiceGetRequest) (*MerchantMetricUserHistoryMetricByInvoiceGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantMetricUserHistoryMetricByInvoiceGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserMetricService.MetricUserHistoryMetricByInvoiceGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/metric/user/history/metric_by_invoice"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.invoiceId == nil {
		return localVarReturnValue, nil, reportError("invoiceId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "invoiceId", r.invoiceId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserMetricMetricUserHistoryMetricBySubscriptionGetRequest struct {
	ctx context.Context
	ApiService *UserMetricService
	subscriptionId *string
}

// The unique id of subscription (must be non-active subscription or non-incomplete subscription)
func (r UserMetricMetricUserHistoryMetricBySubscriptionGetRequest) SubscriptionId(subscriptionId string) UserMetricMetricUserHistoryMetricBySubscriptionGetRequest {
	r.subscriptionId = &subscriptionId
	return r
}

func (r UserMetricMetricUserHistoryMetricBySubscriptionGetRequest) Execute() (*MerchantMetricUserHistoryMetricBySubscriptionGet200Response, *http.Response, error) {
	return r.ApiService.MetricUserHistoryMetricBySubscriptionGetExecute(r)
}

/*
MetricUserHistoryMetricBySubscriptionGet Query User History Limit Metric By Subscription (History Query Mode, limit_metered and limit_recurring only, non-active subscription only)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserMetricMetricUserHistoryMetricBySubscriptionGetRequest
*/
func (a *UserMetricService) MetricUserHistoryMetricBySubscriptionGet(ctx context.Context) UserMetricMetricUserHistoryMetricBySubscriptionGetRequest {
	return UserMetricMetricUserHistoryMetricBySubscriptionGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantMetricUserHistoryMetricBySubscriptionGet200Response
func (a *UserMetricService) MetricUserHistoryMetricBySubscriptionGetExecute(r UserMetricMetricUserHistoryMetricBySubscriptionGetRequest) (*MerchantMetricUserHistoryMetricBySubscriptionGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantMetricUserHistoryMetricBySubscriptionGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserMetricService.MetricUserHistoryMetricBySubscriptionGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/metric/user/history/metric_by_subscription"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.subscriptionId == nil {
		return localVarReturnValue, nil, reportError("subscriptionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "subscriptionId", r.subscriptionId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserMetricMetricUserMetricGetRequest struct {
	ctx context.Context
	ApiService *UserMetricService
	userId *int64
	email *string
	externalUserId *string
	productId *int64
	reloadCache *bool
}

// UserId, One Of UserId|Email|ExternalUserId Needed
func (r UserMetricMetricUserMetricGetRequest) UserId(userId int64) UserMetricMetricUserMetricGetRequest {
	r.userId = &userId
	return r
}

// Email, One Of UserId|Email|ExternalUserId Needed
func (r UserMetricMetricUserMetricGetRequest) Email(email string) UserMetricMetricUserMetricGetRequest {
	r.email = &email
	return r
}

// ExternalUserId, One Of UserId|Email|ExternalUserId Needed
func (r UserMetricMetricUserMetricGetRequest) ExternalUserId(externalUserId string) UserMetricMetricUserMetricGetRequest {
	r.externalUserId = &externalUserId
	return r
}

// Id of product, default product will use if productId not specified and subscriptionId is blank
func (r UserMetricMetricUserMetricGetRequest) ProductId(productId int64) UserMetricMetricUserMetricGetRequest {
	r.productId = &productId
	return r
}

func (r UserMetricMetricUserMetricGetRequest) ReloadCache(reloadCache bool) UserMetricMetricUserMetricGetRequest {
	r.reloadCache = &reloadCache
	return r
}

func (r UserMetricMetricUserMetricGetRequest) Execute() (*MerchantMetricUserMetricGet200Response, *http.Response, error) {
	return r.ApiService.MetricUserMetricGetExecute(r)
}

/*
MetricUserMetricGet Query User Metric

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserMetricMetricUserMetricGetRequest
*/
func (a *UserMetricService) MetricUserMetricGet(ctx context.Context) UserMetricMetricUserMetricGetRequest {
	return UserMetricMetricUserMetricGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantMetricUserMetricGet200Response
func (a *UserMetricService) MetricUserMetricGetExecute(r UserMetricMetricUserMetricGetRequest) (*MerchantMetricUserMetricGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantMetricUserMetricGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserMetricService.MetricUserMetricGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/metric/user/metric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "")
	}
	if r.externalUserId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalUserId", r.externalUserId, "")
	}
	if r.productId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productId", r.productId, "")
	}
	if r.reloadCache != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reloadCache", r.reloadCache, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type UserMetricMetricUserSubMetricGetRequest struct {
	ctx context.Context
	ApiService *UserMetricService
	subscriptionId *string
	reloadCache *bool
}

// SubscriptionId
func (r UserMetricMetricUserSubMetricGetRequest) SubscriptionId(subscriptionId string) UserMetricMetricUserSubMetricGetRequest {
	r.subscriptionId = &subscriptionId
	return r
}

func (r UserMetricMetricUserSubMetricGetRequest) ReloadCache(reloadCache bool) UserMetricMetricUserSubMetricGetRequest {
	r.reloadCache = &reloadCache
	return r
}

func (r UserMetricMetricUserSubMetricGetRequest) Execute() (*MerchantMetricUserMetricGet200Response, *http.Response, error) {
	return r.ApiService.MetricUserSubMetricGetExecute(r)
}

/*
MetricUserSubMetricGet Query User Metric By Subscription

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return UserMetricMetricUserSubMetricGetRequest
*/
func (a *UserMetricService) MetricUserSubMetricGet(ctx context.Context) UserMetricMetricUserSubMetricGetRequest {
	return UserMetricMetricUserSubMetricGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantMetricUserMetricGet200Response
func (a *UserMetricService) MetricUserSubMetricGetExecute(r UserMetricMetricUserSubMetricGetRequest) (*MerchantMetricUserMetricGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantMetricUserMetricGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserMetricService.MetricUserSubMetricGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/metric/user/sub/metric"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subscriptionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subscriptionId", r.subscriptionId, "")
	}
	if r.reloadCache != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reloadCache", r.reloadCache, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
