/*
OpenAPI UniBee

This is UniBee api server, For this sample, you can use the api key `EUXAgwv3Vcr1PFWt2SgBumMHXn3ImBqM` to test the authorization filters

API version: 
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// MerchantPlanAPIService MerchantPlanAPI service
type MerchantPlanAPIService service

type MerchantPlanAPIMerchantPlanActivatePostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanActivateReq *UnibeeApiMerchantPlanActivateReq
}

func (r MerchantPlanAPIMerchantPlanActivatePostRequest) UnibeeApiMerchantPlanActivateReq(unibeeApiMerchantPlanActivateReq UnibeeApiMerchantPlanActivateReq) MerchantPlanAPIMerchantPlanActivatePostRequest {
	r.unibeeApiMerchantPlanActivateReq = &unibeeApiMerchantPlanActivateReq
	return r
}

func (r MerchantPlanAPIMerchantPlanActivatePostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanActivatePostExecute(r)
}

/*
MerchantPlanActivatePost Plan Sync To Gateway And Activate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanActivatePostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanActivatePost(ctx context.Context) MerchantPlanAPIMerchantPlanActivatePostRequest {
	return MerchantPlanAPIMerchantPlanActivatePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantPlanAPIService) MerchantPlanActivatePostExecute(r MerchantPlanAPIMerchantPlanActivatePostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanActivatePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/activate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanActivateReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanActivateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanActivateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanAddonsBindingPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanAddonsBindingReq *UnibeeApiMerchantPlanAddonsBindingReq
}

func (r MerchantPlanAPIMerchantPlanAddonsBindingPostRequest) UnibeeApiMerchantPlanAddonsBindingReq(unibeeApiMerchantPlanAddonsBindingReq UnibeeApiMerchantPlanAddonsBindingReq) MerchantPlanAPIMerchantPlanAddonsBindingPostRequest {
	r.unibeeApiMerchantPlanAddonsBindingReq = &unibeeApiMerchantPlanAddonsBindingReq
	return r
}

func (r MerchantPlanAPIMerchantPlanAddonsBindingPostRequest) Execute() (*MerchantPlanAddonsBindingPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanAddonsBindingPostExecute(r)
}

/*
MerchantPlanAddonsBindingPost Plan Binding Addons

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanAddonsBindingPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanAddonsBindingPost(ctx context.Context) MerchantPlanAPIMerchantPlanAddonsBindingPostRequest {
	return MerchantPlanAPIMerchantPlanAddonsBindingPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanAddonsBindingPost200Response
func (a *MerchantPlanAPIService) MerchantPlanAddonsBindingPostExecute(r MerchantPlanAPIMerchantPlanAddonsBindingPostRequest) (*MerchantPlanAddonsBindingPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanAddonsBindingPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanAddonsBindingPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/addons_binding"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanAddonsBindingReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanAddonsBindingReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanAddonsBindingReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanDeletePostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanDeleteReq *UnibeeApiMerchantPlanDeleteReq
}

func (r MerchantPlanAPIMerchantPlanDeletePostRequest) UnibeeApiMerchantPlanDeleteReq(unibeeApiMerchantPlanDeleteReq UnibeeApiMerchantPlanDeleteReq) MerchantPlanAPIMerchantPlanDeletePostRequest {
	r.unibeeApiMerchantPlanDeleteReq = &unibeeApiMerchantPlanDeleteReq
	return r
}

func (r MerchantPlanAPIMerchantPlanDeletePostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanDeletePostExecute(r)
}

/*
MerchantPlanDeletePost Delete A Plan Before Activate

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanDeletePostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanDeletePost(ctx context.Context) MerchantPlanAPIMerchantPlanDeletePostRequest {
	return MerchantPlanAPIMerchantPlanDeletePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantPlanAPIService) MerchantPlanDeletePostExecute(r MerchantPlanAPIMerchantPlanDeletePostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanDeletePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanDeleteReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanDeleteReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanDeleteReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanDetailGetRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	planId *int32
}

// PlanId
func (r MerchantPlanAPIMerchantPlanDetailGetRequest) PlanId(planId int32) MerchantPlanAPIMerchantPlanDetailGetRequest {
	r.planId = &planId
	return r
}

func (r MerchantPlanAPIMerchantPlanDetailGetRequest) Execute() (*MerchantPlanDetailGet200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanDetailGetExecute(r)
}

/*
MerchantPlanDetailGet Plan Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanDetailGetRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanDetailGet(ctx context.Context) MerchantPlanAPIMerchantPlanDetailGetRequest {
	return MerchantPlanAPIMerchantPlanDetailGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanDetailGet200Response
func (a *MerchantPlanAPIService) MerchantPlanDetailGetExecute(r MerchantPlanAPIMerchantPlanDetailGetRequest) (*MerchantPlanDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanDetailGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.planId == nil {
		return localVarReturnValue, nil, reportError("planId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "planId", r.planId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanDetailPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanDetailReq *UnibeeApiMerchantPlanDetailReq
}

func (r MerchantPlanAPIMerchantPlanDetailPostRequest) UnibeeApiMerchantPlanDetailReq(unibeeApiMerchantPlanDetailReq UnibeeApiMerchantPlanDetailReq) MerchantPlanAPIMerchantPlanDetailPostRequest {
	r.unibeeApiMerchantPlanDetailReq = &unibeeApiMerchantPlanDetailReq
	return r
}

func (r MerchantPlanAPIMerchantPlanDetailPostRequest) Execute() (*MerchantPlanDetailGet200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanDetailPostExecute(r)
}

/*
MerchantPlanDetailPost Plan Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanDetailPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanDetailPost(ctx context.Context) MerchantPlanAPIMerchantPlanDetailPostRequest {
	return MerchantPlanAPIMerchantPlanDetailPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanDetailGet200Response
func (a *MerchantPlanAPIService) MerchantPlanDetailPostExecute(r MerchantPlanAPIMerchantPlanDetailPostRequest) (*MerchantPlanDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanDetailPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanDetailReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanDetailReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanDetailReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanEditPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanEditReq *UnibeeApiMerchantPlanEditReq
}

func (r MerchantPlanAPIMerchantPlanEditPostRequest) UnibeeApiMerchantPlanEditReq(unibeeApiMerchantPlanEditReq UnibeeApiMerchantPlanEditReq) MerchantPlanAPIMerchantPlanEditPostRequest {
	r.unibeeApiMerchantPlanEditReq = &unibeeApiMerchantPlanEditReq
	return r
}

func (r MerchantPlanAPIMerchantPlanEditPostRequest) Execute() (*MerchantPlanAddonsBindingPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanEditPostExecute(r)
}

/*
MerchantPlanEditPost Edit Plan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanEditPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanEditPost(ctx context.Context) MerchantPlanAPIMerchantPlanEditPostRequest {
	return MerchantPlanAPIMerchantPlanEditPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanAddonsBindingPost200Response
func (a *MerchantPlanAPIService) MerchantPlanEditPostExecute(r MerchantPlanAPIMerchantPlanEditPostRequest) (*MerchantPlanAddonsBindingPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanAddonsBindingPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanEditPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/edit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanEditReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanEditReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanEditReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanExpirePostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanExpireReq *UnibeeApiMerchantPlanExpireReq
}

func (r MerchantPlanAPIMerchantPlanExpirePostRequest) UnibeeApiMerchantPlanExpireReq(unibeeApiMerchantPlanExpireReq UnibeeApiMerchantPlanExpireReq) MerchantPlanAPIMerchantPlanExpirePostRequest {
	r.unibeeApiMerchantPlanExpireReq = &unibeeApiMerchantPlanExpireReq
	return r
}

func (r MerchantPlanAPIMerchantPlanExpirePostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanExpirePostExecute(r)
}

/*
MerchantPlanExpirePost Expire A Plan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanExpirePostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanExpirePost(ctx context.Context) MerchantPlanAPIMerchantPlanExpirePostRequest {
	return MerchantPlanAPIMerchantPlanExpirePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantPlanAPIService) MerchantPlanExpirePostExecute(r MerchantPlanAPIMerchantPlanExpirePostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanExpirePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/expire"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanExpireReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanExpireReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanExpireReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanListGetRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	type_ *[]int32
	status *[]int32
	publishStatus *int32
	currency *string
	sortField *string
	sortType *string
	page *int32
	count *int32
}

// 1-main plan，2-addon plan
func (r MerchantPlanAPIMerchantPlanListGetRequest) Type_(type_ []int32) MerchantPlanAPIMerchantPlanListGetRequest {
	r.type_ = &type_
	return r
}

// Filter, Default All，,Status，1-Editing，2-Active，3-InActive，4-Expired
func (r MerchantPlanAPIMerchantPlanListGetRequest) Status(status []int32) MerchantPlanAPIMerchantPlanListGetRequest {
	r.status = &status
	return r
}

// Filter, Default All，PublishStatus，1-UnPublished，2-Published
func (r MerchantPlanAPIMerchantPlanListGetRequest) PublishStatus(publishStatus int32) MerchantPlanAPIMerchantPlanListGetRequest {
	r.publishStatus = &publishStatus
	return r
}

// Filter Currency
func (r MerchantPlanAPIMerchantPlanListGetRequest) Currency(currency string) MerchantPlanAPIMerchantPlanListGetRequest {
	r.currency = &currency
	return r
}

// Sort Field，gmt_create|gmt_modify，Default gmt_modify
func (r MerchantPlanAPIMerchantPlanListGetRequest) SortField(sortField string) MerchantPlanAPIMerchantPlanListGetRequest {
	r.sortField = &sortField
	return r
}

// Sort Type，asc|desc，Default desc
func (r MerchantPlanAPIMerchantPlanListGetRequest) SortType(sortType string) MerchantPlanAPIMerchantPlanListGetRequest {
	r.sortType = &sortType
	return r
}

// Page, Start 0
func (r MerchantPlanAPIMerchantPlanListGetRequest) Page(page int32) MerchantPlanAPIMerchantPlanListGetRequest {
	r.page = &page
	return r
}

// Count Of Per Page
func (r MerchantPlanAPIMerchantPlanListGetRequest) Count(count int32) MerchantPlanAPIMerchantPlanListGetRequest {
	r.count = &count
	return r
}

func (r MerchantPlanAPIMerchantPlanListGetRequest) Execute() (*MerchantPlanListGet200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanListGetExecute(r)
}

/*
MerchantPlanListGet Plan List

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanListGetRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanListGet(ctx context.Context) MerchantPlanAPIMerchantPlanListGetRequest {
	return MerchantPlanAPIMerchantPlanListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanListGet200Response
func (a *MerchantPlanAPIService) MerchantPlanListGetExecute(r MerchantPlanAPIMerchantPlanListGetRequest) (*MerchantPlanListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		t := *r.type_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type", t, "multi")
		}
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "multi")
		}
	}
	if r.publishStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "publishStatus", r.publishStatus, "")
	}
	if r.currency != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currency", r.currency, "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortType", r.sortType, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanListPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanListReq *UnibeeApiMerchantPlanListReq
}

func (r MerchantPlanAPIMerchantPlanListPostRequest) UnibeeApiMerchantPlanListReq(unibeeApiMerchantPlanListReq UnibeeApiMerchantPlanListReq) MerchantPlanAPIMerchantPlanListPostRequest {
	r.unibeeApiMerchantPlanListReq = &unibeeApiMerchantPlanListReq
	return r
}

func (r MerchantPlanAPIMerchantPlanListPostRequest) Execute() (*MerchantPlanListGet200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanListPostExecute(r)
}

/*
MerchantPlanListPost Plan List

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanListPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanListPost(ctx context.Context) MerchantPlanAPIMerchantPlanListPostRequest {
	return MerchantPlanAPIMerchantPlanListPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanListGet200Response
func (a *MerchantPlanAPIService) MerchantPlanListPostExecute(r MerchantPlanAPIMerchantPlanListPostRequest) (*MerchantPlanListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanListPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanListReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanListReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanListReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanNewPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanNewReq *UnibeeApiMerchantPlanNewReq
}

func (r MerchantPlanAPIMerchantPlanNewPostRequest) UnibeeApiMerchantPlanNewReq(unibeeApiMerchantPlanNewReq UnibeeApiMerchantPlanNewReq) MerchantPlanAPIMerchantPlanNewPostRequest {
	r.unibeeApiMerchantPlanNewReq = &unibeeApiMerchantPlanNewReq
	return r
}

func (r MerchantPlanAPIMerchantPlanNewPostRequest) Execute() (*MerchantPlanAddonsBindingPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanNewPostExecute(r)
}

/*
MerchantPlanNewPost Create Plan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanNewPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanNewPost(ctx context.Context) MerchantPlanAPIMerchantPlanNewPostRequest {
	return MerchantPlanAPIMerchantPlanNewPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantPlanAddonsBindingPost200Response
func (a *MerchantPlanAPIService) MerchantPlanNewPostExecute(r MerchantPlanAPIMerchantPlanNewPostRequest) (*MerchantPlanAddonsBindingPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantPlanAddonsBindingPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanNewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/new"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanNewReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanNewReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanNewReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanPublishPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanPublishReq *UnibeeApiMerchantPlanPublishReq
}

func (r MerchantPlanAPIMerchantPlanPublishPostRequest) UnibeeApiMerchantPlanPublishReq(unibeeApiMerchantPlanPublishReq UnibeeApiMerchantPlanPublishReq) MerchantPlanAPIMerchantPlanPublishPostRequest {
	r.unibeeApiMerchantPlanPublishReq = &unibeeApiMerchantPlanPublishReq
	return r
}

func (r MerchantPlanAPIMerchantPlanPublishPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanPublishPostExecute(r)
}

/*
MerchantPlanPublishPost Publish Plan，Will Be Visible To UserPortal

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanPublishPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanPublishPost(ctx context.Context) MerchantPlanAPIMerchantPlanPublishPostRequest {
	return MerchantPlanAPIMerchantPlanPublishPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantPlanAPIService) MerchantPlanPublishPostExecute(r MerchantPlanAPIMerchantPlanPublishPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanPublishPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/publish"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanPublishReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanPublishReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanPublishReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantPlanAPIMerchantPlanUnpublishedPostRequest struct {
	ctx context.Context
	ApiService *MerchantPlanAPIService
	unibeeApiMerchantPlanUnPublishReq *UnibeeApiMerchantPlanUnPublishReq
}

func (r MerchantPlanAPIMerchantPlanUnpublishedPostRequest) UnibeeApiMerchantPlanUnPublishReq(unibeeApiMerchantPlanUnPublishReq UnibeeApiMerchantPlanUnPublishReq) MerchantPlanAPIMerchantPlanUnpublishedPostRequest {
	r.unibeeApiMerchantPlanUnPublishReq = &unibeeApiMerchantPlanUnPublishReq
	return r
}

func (r MerchantPlanAPIMerchantPlanUnpublishedPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantPlanUnpublishedPostExecute(r)
}

/*
MerchantPlanUnpublishedPost UnPublish Plan

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantPlanAPIMerchantPlanUnpublishedPostRequest
*/
func (a *MerchantPlanAPIService) MerchantPlanUnpublishedPost(ctx context.Context) MerchantPlanAPIMerchantPlanUnpublishedPostRequest {
	return MerchantPlanAPIMerchantPlanUnpublishedPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantPlanAPIService) MerchantPlanUnpublishedPostExecute(r MerchantPlanAPIMerchantPlanUnpublishedPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantPlanAPIService.MerchantPlanUnpublishedPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/plan/unpublished"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantPlanUnPublishReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantPlanUnPublishReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantPlanUnPublishReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
