/*
OpenAPI UniBee

This is UniBee api server, For this sample, you can use the api key `EUXAgwv3Vcr1PFWt2SgBumMHXn3ImBqM` to test the authorization filters

API version: 
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// MerchantSubscriptionAPIService MerchantSubscriptionAPI service
type MerchantSubscriptionAPIService service

type MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionAddNewTrialStartReq *UnibeeApiMerchantSubscriptionAddNewTrialStartReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest) UnibeeApiMerchantSubscriptionAddNewTrialStartReq(unibeeApiMerchantSubscriptionAddNewTrialStartReq UnibeeApiMerchantSubscriptionAddNewTrialStartReq) MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest {
	r.unibeeApiMerchantSubscriptionAddNewTrialStartReq = &unibeeApiMerchantSubscriptionAddNewTrialStartReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionAddNewTrialStartPostExecute(r)
}

/*
MerchantSubscriptionAddNewTrialStartPost Merchant Edit Subscription-add appendTrialEndHour For Free

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionAddNewTrialStartPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionAddNewTrialStartPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionAddNewTrialStartPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionAddNewTrialStartPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/add_new_trial_start"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionAddNewTrialStartReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionAddNewTrialStartReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionAddNewTrialStartReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionCancelAtPeriodEndReq *UnibeeApiMerchantSubscriptionCancelAtPeriodEndReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest) UnibeeApiMerchantSubscriptionCancelAtPeriodEndReq(unibeeApiMerchantSubscriptionCancelAtPeriodEndReq UnibeeApiMerchantSubscriptionCancelAtPeriodEndReq) MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest {
	r.unibeeApiMerchantSubscriptionCancelAtPeriodEndReq = &unibeeApiMerchantSubscriptionCancelAtPeriodEndReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionCancelAtPeriodEndPostExecute(r)
}

/*
MerchantSubscriptionCancelAtPeriodEndPost Merchant Edit Subscription-Set Cancel Ad Period End

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionCancelAtPeriodEndPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionCancelAtPeriodEndPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionCancelAtPeriodEndPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionCancelAtPeriodEndPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/cancel_at_period_end"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionCancelAtPeriodEndReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionCancelAtPeriodEndReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionCancelAtPeriodEndReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq *UnibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest) UnibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq(unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq UnibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq) MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest {
	r.unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq = &unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionCancelLastCancelAtPeriodEndPostExecute(r)
}

/*
MerchantSubscriptionCancelLastCancelAtPeriodEndPost Merchant Edit Subscription-Cancel Last CancelAtPeriod

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionCancelLastCancelAtPeriodEndPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionCancelLastCancelAtPeriodEndPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionCancelLastCancelAtPeriodEndPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionCancelLastCancelAtPeriodEndPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/cancel_last_cancel_at_period_end"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionCancelLastCancelAtPeriodEndReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionCancelReq *UnibeeApiMerchantSubscriptionCancelReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest) UnibeeApiMerchantSubscriptionCancelReq(unibeeApiMerchantSubscriptionCancelReq UnibeeApiMerchantSubscriptionCancelReq) MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest {
	r.unibeeApiMerchantSubscriptionCancelReq = &unibeeApiMerchantSubscriptionCancelReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionCancelPostExecute(r)
}

/*
MerchantSubscriptionCancelPost Merchant Cancel Subscription Immediately (Will Not Generate Proration Invoice)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionCancelPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionCancelPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionCancelPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionCancelPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/cancel"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionCancelReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionCancelReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionCancelReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	subscriptionId *string
}

// SubscriptionId
func (r MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest) SubscriptionId(subscriptionId string) MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest {
	r.subscriptionId = &subscriptionId
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest) Execute() (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionDetailGetExecute(r)
}

/*
MerchantSubscriptionDetailGet Subscription Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionDetailGet(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionDetailGet200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionDetailGetExecute(r MerchantSubscriptionAPIMerchantSubscriptionDetailGetRequest) (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionDetailGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.subscriptionId == nil {
		return localVarReturnValue, nil, reportError("subscriptionId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "subscriptionId", r.subscriptionId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionDetailReq *UnibeeApiMerchantSubscriptionDetailReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest) UnibeeApiMerchantSubscriptionDetailReq(unibeeApiMerchantSubscriptionDetailReq UnibeeApiMerchantSubscriptionDetailReq) MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest {
	r.unibeeApiMerchantSubscriptionDetailReq = &unibeeApiMerchantSubscriptionDetailReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest) Execute() (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionDetailPostExecute(r)
}

/*
MerchantSubscriptionDetailPost Subscription Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionDetailPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionDetailGet200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionDetailPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionDetailPostRequest) (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionDetailPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionDetailReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionDetailReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionDetailReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionListGetRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	userId *int64
	status *[]int32
	sortField *string
	sortType *string
	page *int32
	count *int32
}

// UserId
func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) UserId(userId int64) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	r.userId = &userId
	return r
}

// Filter, Default All，Status，0-Init | 1-Create｜2-Active｜3-Suspend | 4-Cancel | 5-Expire
func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) Status(status []int32) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	r.status = &status
	return r
}

// Sort Field，gmt_create|gmt_modify，Default gmt_modify
func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) SortField(sortField string) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	r.sortField = &sortField
	return r
}

// Sort Type，asc|desc，Default desc
func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) SortType(sortType string) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	r.sortType = &sortType
	return r
}

// Page, Start WIth 0
func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) Page(page int32) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	r.page = &page
	return r
}

// Count Of Page
func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) Count(count int32) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	r.count = &count
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) Execute() (*MerchantSubscriptionListGet200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionListGetExecute(r)
}

/*
MerchantSubscriptionListGet Subscription List

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionListGetRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionListGet(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionListGetRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionListGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionListGet200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionListGetExecute(r MerchantSubscriptionAPIMerchantSubscriptionListGetRequest) (*MerchantSubscriptionListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionListGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "multi")
		}
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "")
	}
	if r.sortType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortType", r.sortType, "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionListPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionListReq *UnibeeApiMerchantSubscriptionListReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionListPostRequest) UnibeeApiMerchantSubscriptionListReq(unibeeApiMerchantSubscriptionListReq UnibeeApiMerchantSubscriptionListReq) MerchantSubscriptionAPIMerchantSubscriptionListPostRequest {
	r.unibeeApiMerchantSubscriptionListReq = &unibeeApiMerchantSubscriptionListReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionListPostRequest) Execute() (*MerchantSubscriptionListGet200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionListPostExecute(r)
}

/*
MerchantSubscriptionListPost Subscription List

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionListPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionListPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionListPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionListPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionListGet200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionListPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionListPostRequest) (*MerchantSubscriptionListGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionListGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionListPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/list"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionListReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionListReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionListReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionResumeReq *UnibeeApiMerchantSubscriptionResumeReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest) UnibeeApiMerchantSubscriptionResumeReq(unibeeApiMerchantSubscriptionResumeReq UnibeeApiMerchantSubscriptionResumeReq) MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest {
	r.unibeeApiMerchantSubscriptionResumeReq = &unibeeApiMerchantSubscriptionResumeReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionResumePostExecute(r)
}

/*
MerchantSubscriptionResumePost Merchant Edit Subscription-Resume

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest

Deprecated
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionResumePost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
// Deprecated
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionResumePostExecute(r MerchantSubscriptionAPIMerchantSubscriptionResumePostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionResumePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/resume"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionResumeReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionResumeReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionResumeReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionSuspendReq *UnibeeApiMerchantSubscriptionSuspendReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest) UnibeeApiMerchantSubscriptionSuspendReq(unibeeApiMerchantSubscriptionSuspendReq UnibeeApiMerchantSubscriptionSuspendReq) MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest {
	r.unibeeApiMerchantSubscriptionSuspendReq = &unibeeApiMerchantSubscriptionSuspendReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest) Execute() (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionSuspendPostExecute(r)
}

/*
MerchantSubscriptionSuspendPost Merchant Edit Subscription-Stop

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest

Deprecated
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionSuspendPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantAuthSsoLoginOTPPost200Response
// Deprecated
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionSuspendPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionSuspendPostRequest) (*MerchantAuthSsoLoginOTPPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantAuthSsoLoginOTPPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionSuspendPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/suspend"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionSuspendReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionSuspendReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionSuspendReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionUpdatePreviewReq *UnibeeApiMerchantSubscriptionUpdatePreviewReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest) UnibeeApiMerchantSubscriptionUpdatePreviewReq(unibeeApiMerchantSubscriptionUpdatePreviewReq UnibeeApiMerchantSubscriptionUpdatePreviewReq) MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest {
	r.unibeeApiMerchantSubscriptionUpdatePreviewReq = &unibeeApiMerchantSubscriptionUpdatePreviewReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest) Execute() (*MerchantSubscriptionUpdatePreviewPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionUpdatePreviewPostExecute(r)
}

/*
MerchantSubscriptionUpdatePreviewPost Merchant Update Subscription Preview

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUpdatePreviewPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionUpdatePreviewPost200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUpdatePreviewPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionUpdatePreviewPostRequest) (*MerchantSubscriptionUpdatePreviewPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionUpdatePreviewPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionUpdatePreviewPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/update_preview"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionUpdatePreviewReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionUpdatePreviewReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionUpdatePreviewReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionUpdateReq *UnibeeApiMerchantSubscriptionUpdateReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest) UnibeeApiMerchantSubscriptionUpdateReq(unibeeApiMerchantSubscriptionUpdateReq UnibeeApiMerchantSubscriptionUpdateReq) MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest {
	r.unibeeApiMerchantSubscriptionUpdateReq = &unibeeApiMerchantSubscriptionUpdateReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest) Execute() (*MerchantSubscriptionUpdateSubmitPost200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionUpdateSubmitPostExecute(r)
}

/*
MerchantSubscriptionUpdateSubmitPost Merchant Update Subscription Submit

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUpdateSubmitPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionUpdateSubmitPost200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUpdateSubmitPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionUpdateSubmitPostRequest) (*MerchantSubscriptionUpdateSubmitPost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionUpdateSubmitPost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionUpdateSubmitPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/update_submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionUpdateReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionUpdateReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionUpdateReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	userId *int64
}

// UserId
func (r MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest) UserId(userId int64) MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest {
	r.userId = &userId
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest) Execute() (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionUserSubscriptionDetailGetExecute(r)
}

/*
MerchantSubscriptionUserSubscriptionDetailGet Subscription Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUserSubscriptionDetailGet(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionDetailGet200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUserSubscriptionDetailGetExecute(r MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailGetRequest) (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionUserSubscriptionDetailGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/user_subscription_detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userId == nil {
		return localVarReturnValue, nil, reportError("userId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest struct {
	ctx context.Context
	ApiService *MerchantSubscriptionAPIService
	unibeeApiMerchantSubscriptionUserSubscriptionDetailReq *UnibeeApiMerchantSubscriptionUserSubscriptionDetailReq
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest) UnibeeApiMerchantSubscriptionUserSubscriptionDetailReq(unibeeApiMerchantSubscriptionUserSubscriptionDetailReq UnibeeApiMerchantSubscriptionUserSubscriptionDetailReq) MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest {
	r.unibeeApiMerchantSubscriptionUserSubscriptionDetailReq = &unibeeApiMerchantSubscriptionUserSubscriptionDetailReq
	return r
}

func (r MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest) Execute() (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	return r.ApiService.MerchantSubscriptionUserSubscriptionDetailPostExecute(r)
}

/*
MerchantSubscriptionUserSubscriptionDetailPost Subscription Detail

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest
*/
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUserSubscriptionDetailPost(ctx context.Context) MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest {
	return MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MerchantSubscriptionDetailGet200Response
func (a *MerchantSubscriptionAPIService) MerchantSubscriptionUserSubscriptionDetailPostExecute(r MerchantSubscriptionAPIMerchantSubscriptionUserSubscriptionDetailPostRequest) (*MerchantSubscriptionDetailGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MerchantSubscriptionDetailGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MerchantSubscriptionAPIService.MerchantSubscriptionUserSubscriptionDetailPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/merchant/subscription/user_subscription_detail"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.unibeeApiMerchantSubscriptionUserSubscriptionDetailReq == nil {
		return localVarReturnValue, nil, reportError("unibeeApiMerchantSubscriptionUserSubscriptionDetailReq is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.unibeeApiMerchantSubscriptionUserSubscriptionDetailReq
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
