openapi: 3.0.0
info:
  description: UniBee Api Server
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI UniBee
  version: "daily,buildtime:202502180830"
servers:
- url: https://api.unibee.top
- url: http://127.0.0.1:8080
paths:
  /merchant/auth/sso/login:
    post:
      description: Password login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.LoginReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_login_post_200_response'
          description: ""
      summary: Password Login
      tags:
      - Member Authentication
  /merchant/auth/sso/loginOTP:
    post:
      description: Send email to member with OTP code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.LoginOtpReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: OTP Login
      tags:
      - Member Authentication
  /merchant/auth/sso/loginOTPVerify:
    post:
      description: "OTP login for member, verify OTP code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.LoginOtpVerifyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_login_post_200_response'
          description: ""
      summary: OTP Login Code Verification
      tags:
      - Member Authentication
  /merchant/auth/sso/passwordForgetOTP:
    post:
      description: Send email to member with OTP code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.PasswordForgetOtpReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: OTP Password Forget
      tags:
      - Member Authentication
  /merchant/auth/sso/passwordForgetOTPVerify:
    post:
      description: "Password forget OTP process, verify OTP code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.PasswordForgetOtpVerifyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: OTP Password Forget Code Verification
      tags:
      - Member Authentication
  /merchant/auth/sso/passwordSetup:
    post:
      description: Member Password Setup
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.PasswordSetupOtpReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Password Setup
      tags:
      - Member Authentication
  /merchant/auth/sso/register:
    post:
      description: "Register with owner permission, send email with OTP code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.RegisterReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Register
      tags:
      - Member Authentication
  /merchant/auth/sso/registerVerify:
    post:
      description: "Merchant Register, verify OTP code "
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.RegisterVerifyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_registerVerify_post_200_response'
          description: ""
      summary: Register Verify
      tags:
      - Member Authentication
  /merchant/country_config_list:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.profile.CountryConfigListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_country_config_list_post_200_response'
          description: ""
      summary: Edit Country Config
      tags:
      - Merchant
  /merchant/credit/config_list:
    get:
      parameters:
      - description: "type list of credit account, 1-main account, 2-promo credit\
          \ account"
        explode: true
        in: query
        name: types
        required: false
        schema:
          description: "type list of credit account, 1-main account, 2-promo credit\
            \ account"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: currency
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_config_list_get_200_response'
          description: ""
      summary: Get Credit Config list
      tags:
      - Credit
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.ConfigListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_config_list_get_200_response'
          description: ""
      summary: Get Credit Config list
      tags:
      - Credit
  /merchant/credit/credit_account_list:
    get:
      description: Get Credit Account list
      parameters:
      - description: filter id of user
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: filter id of user
          format: int64
          properties: {}
          type: integer
        style: form
      - description: filter email of user
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: filter email of user
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_credit_account_list_get_200_response'
          description: ""
      summary: Get Credit Account List
      tags:
      - Credit
  /merchant/credit/credit_transaction_list:
    get:
      description: Get Credit Transaction list
      parameters:
      - description: "filter type of account, 1-main account, 2-promo credit account"
        explode: true
        in: query
        name: accountType
        required: true
        schema:
          description: "filter type of account, 1-main account, 2-promo credit account"
          format: int
          properties: {}
          type: integer
        style: form
      - description: filter id of user
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: filter id of user
          format: int64
          properties: {}
          type: integer
        style: form
      - description: filter email of user
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: filter email of user
          format: string
          properties: {}
          type: string
        style: form
      - description: filter currency of account
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: filter currency of account
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "transaction type。1-recharge income，2-payment out，3-refund income，\
          4-withdraw out，5-withdraw failed income, 6-admin change，7-recharge refund\
          \ out"
        explode: true
        in: query
        name: transactionTypes
        required: false
        schema:
          description: "transaction type。1-recharge income，2-payment out，3-refund\
            \ income，4-withdraw out，5-withdraw failed income, 6-admin change，7-recharge\
            \ refund out"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_credit_transaction_list_get_200_response'
          description: ""
      summary: Get Credit Transaction List
      tags:
      - Credit
    post:
      description: Get Credit Transaction list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.CreditTransactionListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_credit_transaction_list_get_200_response'
          description: ""
      summary: Get Credit Transaction List
      tags:
      - Credit
  /merchant/credit/detail:
    get:
      parameters:
      - description: The credit account Id
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: The credit account Id
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_detail_get_200_response'
          description: ""
      summary: Credit Account Detail
      tags:
      - Credit
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_detail_get_200_response'
          description: ""
      summary: Credit Account Detail
      tags:
      - Credit
  /merchant/credit/edit_config:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.EditConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_edit_config_post_200_response'
          description: ""
      summary: Edit Credit Config
      tags:
      - Credit
  /merchant/credit/edit_credit_account:
    post:
      description: Edit User Credit Account Config
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.EditCreditAccountReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_edit_credit_account_post_200_response'
          description: ""
      summary: Edit User Credit Account Config
      tags:
      - Credit
  /merchant/credit/edit_promo_config:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.EditPromoConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_edit_config_post_200_response'
          description: ""
      summary: Edit Promo Credit Config
      tags:
      - Promo Credit
  /merchant/credit/get_promo_config:
    get:
      parameters:
      - description: currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: currency
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_edit_config_post_200_response'
          description: ""
      summary: Get Promo Credit Config
      tags:
      - Promo Credit
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.PromoConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_edit_config_post_200_response'
          description: ""
      summary: Get Promo Credit Config
      tags:
      - Promo Credit
  /merchant/credit/get_promo_config_statistics:
    get:
      parameters:
      - description: currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: currency
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_get_promo_config_statistics_get_200_response'
          description: ""
      summary: Get Promo Credit Config Statistics
      tags:
      - Promo Credit
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.PromoConfigStatisticsReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_get_promo_config_statistics_get_200_response'
          description: ""
      summary: Get Promo Credit Config Statistics
      tags:
      - Promo Credit
  /merchant/credit/new_config:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.NewConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_edit_config_post_200_response'
          description: ""
      summary: Setup Credit Config
      tags:
      - Credit
  /merchant/credit/new_credit_recharge:
    post:
      description: New Credit Recharge
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.NewCreditRechargeReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_new_credit_recharge_post_200_response'
          description: ""
      summary: New Credit Recharge
      tags:
      - Credit
  /merchant/credit/promo_credit_decrement:
    post:
      description: "Decrease user promo credit amount, the amount after decreased\
        \ should greater than 0"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.PromoCreditDecrementReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_promo_credit_decrement_post_200_response'
          description: ""
      summary: Promo Credit Decrement
      tags:
      - Promo Credit
  /merchant/credit/promo_credit_increment:
    post:
      description: Increase user promo credit amount
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.credit.PromoCreditIncrementReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_credit_promo_credit_decrement_post_200_response'
          description: ""
      summary: Promo Credit Increment
      tags:
      - Promo Credit
  /merchant/discount/activate:
    post:
      description: "Activate discount code, the discount code can only effect to payment\
        \ or subscription after activated"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.ActivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Activate Discount Code
      tags:
      - Discount
  /merchant/discount/deactivate:
    post:
      description: Deactivate discount code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.DeactivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Deactivate Discount Code
      tags:
      - Discount
  /merchant/discount/decrease_quantity:
    post:
      description: "Decrease discount code quantity, the quantity after decreased\
        \ should greater than 0, the action may disable quantity control if quantity\
        \ decrease to 0 or lower than quantityUsed after decreased"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.QuantityDecrementReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_decrease_quantity_post_200_response'
          description: ""
      summary: Quantity Decrement
      tags:
      - Discount
  /merchant/discount/delete:
    post:
      description: Delete discount code before activate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Delete Discount Code
      tags:
      - Discount
  /merchant/discount/detail:
    get:
      parameters:
      - description: The discount's Id
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: The discount's Id
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_detail_get_200_response'
          description: ""
      summary: Get Merchant Discount Detail
      tags:
      - Discount
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_detail_get_200_response'
          description: ""
      summary: Get Merchant Discount Detail
      tags:
      - Discount
  /merchant/discount/edit:
    post:
      description: Edit the discount code before activate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_edit_post_200_response'
          description: ""
      summary: Edit Discount Code
      tags:
      - Discount
  /merchant/discount/list:
    get:
      description: Get discountCode list
      parameters:
      - description: "discount_type, 1-percentage, 2-fixed_amount"
        explode: true
        in: query
        name: discountType
        required: false
        schema:
          description: "discount_type, 1-percentage, 2-fixed_amount"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "billing_type, 1-one-time, 2-recurring"
        explode: true
        in: query
        name: billingType
        required: false
        schema:
          description: "billing_type, 1-one-time, 2-recurring"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "status, 1-editable, 2-active, 3-deactive, 4-expire, 10-archive"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "status, 1-editable, 2-active, 3-deactive, 4-expire, 10-archive"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: Filter Code
        explode: true
        in: query
        name: code
        required: false
        schema:
          description: Filter Code
          format: string
          properties: {}
          type: string
        style: form
      - description: "Search Key, code or name"
        explode: true
        in: query
        name: searchKey
        required: false
        schema:
          description: "Search Key, code or name"
          format: string
          properties: {}
          type: string
        style: form
      - description: Filter Currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Filter Currency
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_list_get_200_response'
          description: ""
      summary: Get Discount Code List
      tags:
      - Discount
  /merchant/discount/new:
    post:
      description: "Create a new discount code, code can used in onetime or subscription\
        \ purchase to make discount"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_edit_post_200_response'
          description: ""
      summary: New Discount Code
      tags:
      - Discount
  /merchant/discount/plan_apply_preview:
    post:
      description: "Check discount can apply to plan, Only check rules about plan，\
        the actual usage is subject to the subscription interface"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.PlanApplyPreviewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_plan_apply_preview_post_200_response'
          description: ""
      summary: Plan Apply Preview
      tags:
      - User Discount
  /merchant/discount/quantity_increment:
    post:
      description: "Increase discount code quantity, if original quantity is 0, increase\
        \ greater than 0 will enable quantity control"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.QuantityIncrementReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_decrease_quantity_post_200_response'
          description: ""
      summary: Quantity Increment
      tags:
      - Discount
  /merchant/discount/user_discount_list:
    get:
      description: Get user discountCode list
      parameters:
      - description: The discount's Id
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: The discount's Id
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Filter UserIds Default All
        explode: true
        in: query
        name: userIds
        required: false
        schema:
          description: Filter UserIds Default All
          format: "[]int64"
          items:
            format: int64
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: Filter Email Default All
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: Filter Email Default All
          format: string
          properties: {}
          type: string
        style: form
      - description: Filter PlanIds Default All
        explode: true
        in: query
        name: planIds
        required: false
        schema:
          description: Filter PlanIds Default All
          format: "[]int64"
          items:
            format: int64
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_user_discount_list_get_200_response'
          description: ""
      summary: Get User Discount Code List
      tags:
      - User Discount
  /merchant/edit_country_config:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.profile.EditCountryConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Get Country Config List
      tags:
      - Merchant
  /merchant/email/custom_localization_template_sync:
    post:
      description: Sync the custom localization email template to gateway (sendgrid)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.CustomizeLocalizationTemplateSyncReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Customize Localization Template Sync
      tags:
      - Email Template
  /merchant/email/email_sender_setup:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.SenderSetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Email Sender Setup
      tags:
      - Email
  /merchant/email/gateway_setup:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.GatewaySetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_email_gateway_setup_post_200_response'
          description: ""
      summary: Email Gateway Setup
      tags:
      - Email
  /merchant/email/send_template_email_to_user:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.SendTemplateEmailToUserReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Send Template Email To User
      tags:
      - Email
  /merchant/email/template_activate:
    post:
      description: Activate the email template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateActivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Email Template Activate
      tags:
      - Email Template
  /merchant/email/template_deactivate:
    post:
      description: Deactivate the email template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateDeactivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Email Template Deactivate
      tags:
      - Email Template
  /merchant/email/template_list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_email_template_list_get_200_response'
          description: ""
      summary: Get Email Template List
      tags:
      - Email Template
  /merchant/email/template_set_default:
    post:
      description: Setup email template as default
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateSetDefaultReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Setup Email Template Default
      tags:
      - Email Template
  /merchant/email/template_update:
    post:
      description: Update the email template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateUpdateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Email Template Update
      tags:
      - Email Template
  /merchant/gateway/archive:
    post:
      description: "Archive the exist payment gateway，available for setup new one,\
        \ the old user continue using the old gateway"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.ArchiveReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Payment Gateway Archive
      tags:
      - Gateway
  /merchant/gateway/detail:
    get:
      description: Get Payment Gateway Detail
      parameters:
      - description: "The id of payment gateway, either gatewayId or gatewayName"
        explode: true
        in: query
        name: gatewayId
        required: false
        schema:
          description: "The id of payment gateway, either gatewayId or gatewayName"
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: "The name of payment gateway, , either gatewayId or gatewayName,\
          \ stripe|paypal|changelly|unitpay|payssion|cryptadium"
        explode: true
        in: query
        name: gatewayName
        required: false
        schema:
          description: "The name of payment gateway, , either gatewayId or gatewayName,\
            \ stripe|paypal|changelly|unitpay|payssion|cryptadium"
          format: '*string'
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Payment Gateway
      tags:
      - Gateway
    post:
      description: Get Payment Gateway Detail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Payment Gateway
      tags:
      - Gateway
  /merchant/gateway/edit:
    post:
      description: Edit the exist payment gateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Payment Gateway Edit
      tags:
      - Gateway
  /merchant/gateway/edit_country_config:
    post:
      description: "Edit country config for payment gateway, to enable or disable\
        \ the payment for countryCode, default is enable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.EditCountryConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Payment Gateway Country Config Edit
      tags:
      - Gateway
  /merchant/gateway/edit_sort:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.EditSortReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_edit_sort_post_200_response'
          description: ""
      summary: Edit Payment Gateway Sort
      tags:
      - Gateway
  /merchant/gateway/list:
    get:
      parameters:
      - description: "Filter archive gateway or not, default all"
        explode: true
        in: query
        name: archive
        required: false
        schema:
          description: "Filter archive gateway or not, default all"
          format: '*bool'
          properties: {}
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_list_get_200_response'
          description: ""
      summary: Get Payment Gateway List
      tags:
      - Gateway
  /merchant/gateway/setup:
    post:
      description: Setup Payment gateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.SetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Payment Gateway Setup
      tags:
      - Gateway
  /merchant/gateway/setup_exchange_rate_api:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.SetupExchangeApiReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_setup_exchange_rate_api_post_200_response'
          description: ""
      summary: Exchange Rate Api Setup
      tags:
      - Gateway
  /merchant/gateway/setup_list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_edit_sort_post_200_response'
          description: ""
      summary: Get Payment Gateway Setup List
      tags:
      - Gateway
  /merchant/gateway/setup_webhook:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.SetupWebhookReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_setup_webhook_post_200_response'
          description: ""
      summary: Payment Gateway Webhook Setup
      tags:
      - Gateway
  /merchant/gateway/wire_transfer_edit:
    post:
      description: Edit the wire transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.WireTransferEditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Wire Transfer Edit
      tags:
      - Gateway
  /merchant/gateway/wire_transfer_setup:
    post:
      description: Setup the wire transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.WireTransferSetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_archive_post_200_response'
          description: ""
      summary: Wire Transfer Setup
      tags:
      - Gateway
  /merchant/get:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_get_get_200_response'
          description: ""
      summary: Get Profile
      tags:
      - Merchant
  /merchant/invoice/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.CancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Admin Cancel Invoice
      tags:
      - Invoice
  /merchant/invoice/delete:
    post:
      description: Delete invoice of pending status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Delete Pending Invoice
      tags:
      - Invoice
  /merchant/invoice/detail:
    get:
      description: Get detail of invoice
      parameters:
      - description: The unique id of invoice
        explode: true
        in: query
        name: invoiceId
        required: true
        schema:
          description: The unique id of invoice
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_detail_get_200_response'
          description: ""
      summary: Invoice Detail
      tags:
      - Invoice
    post:
      description: Get detail of invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_detail_get_200_response'
          description: ""
      summary: Invoice Detail
      tags:
      - Invoice
  /merchant/invoice/edit:
    post:
      description: Edit invoice of pending status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_edit_post_200_response'
          description: ""
      summary: Invoice Edit
      tags:
      - Invoice
  /merchant/invoice/finish:
    post:
      description: "Finish invoice, generate invoice link"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.FinishReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_finish_post_200_response'
          description: ""
      summary: Finish Invoice
      tags:
      - Invoice
  /merchant/invoice/list:
    get:
      description: Get invoice list
      parameters:
      - description: The firstName of invoice
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          description: The firstName of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: The lastName of invoice
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          description: The lastName of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: The currency of invoice
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: The currency of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: "The status of invoice, 1-pending｜2-processing｜3-paid | 4-failed\
          \ | 5-cancelled"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The status of invoice, 1-pending｜2-processing｜3-paid | 4-failed\
            \ | 5-cancelled"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: The filter start amount of invoice
        explode: true
        in: query
        name: amountStart
        required: false
        schema:
          description: The filter start amount of invoice
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: The filter end amount of invoice
        explode: true
        in: query
        name: amountEnd
        required: false
        schema:
          description: The filter end amount of invoice
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: The filter userid of invoice
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: The filter userid of invoice
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter email of invoice
        explode: true
        in: query
        name: sendEmail
        required: false
        schema:
          description: The filter email of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: Filter，em. invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
          gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Filter，em. invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
            gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: Deleted Involved，Need Admin Permission
        explode: true
        in: query
        name: deleteInclude
        required: false
        schema:
          description: Deleted Involved，Need Admin Permission
          format: bool
          properties: {}
          type: boolean
        style: form
      - description: "invoice Type, 0-payment, 1-refund"
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: "invoice Type, 0-payment, 1-refund"
          format: '*int'
          properties: {}
          type: integer
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count By Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count By Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      - description: ReportTimeStart
        explode: true
        in: query
        name: reportTimeStart
        required: false
        schema:
          description: ReportTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: ReportTimeEnd
        explode: true
        in: query
        name: reportTimeEnd
        required: false
        schema:
          description: ReportTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_list_get_200_response'
          description: ""
      summary: Get Invoice List
      tags:
      - Invoice
    post:
      description: Get invoice list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.ListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_list_get_200_response'
          description: ""
      summary: Get Invoice List
      tags:
      - Invoice
  /merchant/invoice/mark_refund:
    post:
      description: Mark invoice as refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.MarkRefundReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_mark_refund_post_200_response'
          description: ""
      summary: Mark Invoice Refund
      tags:
      - Invoice
  /merchant/invoice/mark_refund_success:
    post:
      description: "Mark refund invoice success, only support Changelly and Wire Transfer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.MarkRefundInvoiceSuccessReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Mark Invoice Refund As Success
      tags:
      - Invoice
  /merchant/invoice/mark_wire_transfer_success:
    post:
      description: Mark wire transfer pending invoice as success
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.MarkWireTransferSuccessReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Mark Wire Transfer Invoice As Success
      tags:
      - Invoice
  /merchant/invoice/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_edit_post_200_response'
          description: ""
      summary: New Invoice
      tags:
      - Invoice
  /merchant/invoice/pdf_generate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.PdfGenerateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Generate Invoice PDF
      tags:
      - Invoice
  /merchant/invoice/pdf_update:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.PdfUpdateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Update Invoice PDF
      tags:
      - Invoice
  /merchant/invoice/reconvert_crypto_and_send_email:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.ReconvertCryptoAndSendReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Admin Reconvert Crypto Data and Send Invoice Email
      tags:
      - Invoice
  /merchant/invoice/refund:
    post:
      description: Create payment refund for paid invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.RefundReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_mark_refund_post_200_response'
          description: ""
      summary: Create InvoiceRefund
      tags:
      - Invoice
  /merchant/invoice/send_email:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.SendEmailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Send Invoice Email
      tags:
      - Invoice
  /merchant/member/list:
    get:
      parameters:
      - description: The member roleId if specified'
        explode: true
        in: query
        name: roleIds
        required: false
        schema:
          description: The member roleId if specified'
          format: "[]int64"
          items:
            format: int64
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_member_list_get_200_response'
          description: ""
      summary: Get Member List
      tags:
      - Admin Member
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.ListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_member_list_get_200_response'
          description: ""
      summary: Get Member List
      tags:
      - Admin Member
  /merchant/member/logout:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.LogoutReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Logout
      tags:
      - Admin Member
  /merchant/member/new_member:
    post:
      description: "Will send email to member email provided, member can enter admin\
        \ portal by email otp login"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.NewMemberReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Invite member
      tags:
      - Admin Member
  /merchant/member/operation_log_list:
    get:
      parameters:
      - description: Filter Member's FirstName Default All
        explode: true
        in: query
        name: memberFirstName
        required: false
        schema:
          description: Filter Member's FirstName Default All
          format: string
          properties: {}
          type: string
        style: form
      - description: "Filter Member's LastName, Default All"
        explode: true
        in: query
        name: memberLastName
        required: false
        schema:
          description: "Filter Member's LastName, Default All"
          format: string
          properties: {}
          type: string
        style: form
      - description: "Filter Member's Email, Default All"
        explode: true
        in: query
        name: memberEmail
        required: false
        schema:
          description: "Filter Member's Email, Default All"
          format: string
          properties: {}
          type: string
        style: form
      - description: FirstName
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          description: FirstName
          format: string
          properties: {}
          type: string
        style: form
      - description: LastName
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          description: LastName
          format: string
          properties: {}
          type: string
        style: form
      - description: Email
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: Email
          format: string
          properties: {}
          type: string
        style: form
      - description: subscription_id
        explode: true
        in: query
        name: subscriptionId
        required: false
        schema:
          description: subscription_id
          format: string
          properties: {}
          type: string
        style: form
      - description: invoice id
        explode: true
        in: query
        name: invoiceId
        required: false
        schema:
          description: invoice id
          format: string
          properties: {}
          type: string
        style: form
      - description: plan id
        explode: true
        in: query
        name: planId
        required: false
        schema:
          description: plan id
          format: int64
          properties: {}
          type: integer
        style: form
      - description: discount_code
        explode: true
        in: query
        name: discountCode
        required: false
        schema:
          description: discount_code
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_member_operation_log_list_get_200_response'
          description: ""
      summary: Get Member Operation Log List
      tags:
      - Admin Member
  /merchant/member/passwordReset:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.PasswordResetReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Member Reset Password
      tags:
      - Admin Member
  /merchant/member/profile:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_registerVerify_post_200_response'
          description: ""
      summary: Get Member Profile
      tags:
      - Admin Member
  /merchant/member/resume_member:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.ReleaseReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Resume Member
      tags:
      - Admin Member
  /merchant/member/suspend_member:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.FrozenReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Suspend Member
      tags:
      - Admin Member
  /merchant/member/update_member_role:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.UpdateMemberRoleReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Update Member Role
      tags:
      - Admin Member
  /merchant/metric/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: Delete Merchant Metric
      tags:
      - Metric
  /merchant/metric/detail:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: Merchant Metric Detail
      tags:
      - Metric
  /merchant/metric/edit:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: Edit Merchant Metric
      tags:
      - Metric
  /merchant/metric/event/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DeleteEventReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Del Merchant Metric Event
      tags:
      - User Metric
  /merchant/metric/event/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.NewEventReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_event_new_post_200_response'
          description: ""
      summary: New Merchant Metric Event
      tags:
      - User Metric
  /merchant/metric/event_list:
    get:
      parameters:
      - description: Filter UserId
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: Filter UserId
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Sort，user_id|gmt_create，Default gmt_create
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort，user_id|gmt_create，Default gmt_create
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page,Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page,Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count OF Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count OF Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_event_list_get_200_response'
          description: ""
      summary: User Metric Event List
      tags:
      - User Metric
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.EventListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_event_list_get_200_response'
          description: ""
      summary: User Metric Event List
      tags:
      - User Metric
  /merchant/metric/list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_list_get_200_response'
          description: ""
      summary: Get Merchant Metric list
      tags:
      - Metric
  /merchant/metric/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: New Merchant Metric
      tags:
      - Metric
  /merchant/metric/plan/limit/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DeletePlanLimitReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_plan_limit_delete_post_200_response'
          description: ""
      summary: Delete Merchant Metric Plan TotalLimit
      tags:
      - Metric
  /merchant/metric/plan/limit/edit:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.EditPlanLimitReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_plan_limit_delete_post_200_response'
          description: ""
      summary: Edit Merchant Metric Plan TotalLimit
      tags:
      - Metric
  /merchant/metric/plan/limit/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.NewPlanLimitReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_plan_limit_delete_post_200_response'
          description: ""
      summary: New Merchant Metric Plan TotalLimit
      tags:
      - Metric
  /merchant/metric/user/metric:
    get:
      parameters:
      - description: "UserId, One Of UserId|ExternalUserId Needed"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: "UserId, One Of UserId|ExternalUserId Needed"
          format: int64
          properties: {}
          type: integer
        style: form
      - description: "ExternalUserId, One Of UserId|ExternalUserId Needed"
        explode: true
        in: query
        name: externalUserId
        required: false
        schema:
          description: "ExternalUserId, One Of UserId|ExternalUserId Needed"
          format: string
          properties: {}
          type: string
        style: form
      - description: default product will use if productId not specified and subscriptionId
          is blank
        explode: true
        in: query
        name: productId
        required: false
        schema:
          description: default product will use if productId not specified and subscriptionId
            is blank
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_user_metric_get_200_response'
          description: ""
      summary: Query User Metric
      tags:
      - User Metric
  /merchant/new_apikey:
    post:
      description: "Generate new apikey, The old one expired in one hour"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.profile.NewApiKeyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_new_apikey_post_200_response'
          description: ""
      summary: Generate New APIKey
      tags:
      - Merchant
  /merchant/payment/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.CancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Cancel Payment
      tags:
      - Payment
  /merchant/payment/capture:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.CaptureReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Capture Payment
      tags:
      - Payment
  /merchant/payment/detail:
    get:
      parameters:
      - description: The unique id of payment
        explode: true
        in: query
        name: paymentId
        required: true
        schema:
          description: The unique id of payment
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_detail_get_200_response'
          description: ""
      summary: Payment Detail
      tags:
      - Payment
  /merchant/payment/item/list:
    get:
      parameters:
      - description: "Filter UserId, Default All"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: "Filter UserId, Default All"
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
          gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
            gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page,Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page,Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_item_list_get_200_response'
          description: ""
      summary: Get OneTime Payment Item List
      tags:
      - Payment
  /merchant/payment/list:
    get:
      parameters:
      - description: The filter unique id of gateway
        explode: true
        in: query
        name: gatewayId
        required: false
        schema:
          description: The filter unique id of gateway
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter userid of payment
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: The filter userid of payment
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter email of payment
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: The filter email of payment
          format: string
          properties: {}
          type: string
        style: form
      - description: "The filter status of payment, 10-Created|20-Success|30-Failed|40-Cancelled"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The filter status of payment, 10-Created|20-Success|30-Failed|40-Cancelled"
          format: int
          properties: {}
          type: integer
        style: form
      - description: The filter currency of payment
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: The filter currency of payment
          format: string
          properties: {}
          type: string
        style: form
      - description: The filter country code of payment
        explode: true
        in: query
        name: countryCode
        required: false
        schema:
          description: The filter country code of payment
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，user_id|create_time|status
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，user_id|create_time|status
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_list_get_200_response'
          description: ""
      summary: Get Payment List
      tags:
      - Payment
  /merchant/payment/method_delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.MethodDeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Delete Payment Method
      tags:
      - Payment
  /merchant/payment/method_get:
    get:
      description: The method of payment gateway
      parameters:
      - description: The unique id of gateway
        explode: true
        in: query
        name: gatewayId
        required: true
        schema:
          description: The unique id of gateway
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The customer's unique id
        explode: true
        in: query
        name: userId
        required: true
        schema:
          description: The customer's unique id
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The unique id of payment method
        explode: true
        in: query
        name: paymentMethodId
        required: true
        schema:
          description: The unique id of payment method
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_method_get_get_200_response'
          description: ""
      summary: Payment Method
      tags:
      - Payment
  /merchant/payment/method_list:
    get:
      description: The method list of payment gateway
      parameters:
      - description: The unique id of gateway
        explode: true
        in: query
        name: gatewayId
        required: true
        schema:
          description: The unique id of gateway
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The id of user
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: The id of user
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The unique id of payment
        explode: true
        in: query
        name: paymentId
        required: false
        schema:
          description: The unique id of payment
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_method_list_get_200_response'
          description: ""
      summary: Payment Method List
      tags:
      - Payment
  /merchant/payment/method_new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.MethodNewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_method_new_post_200_response'
          description: ""
      summary: Create New Payment Method
      tags:
      - Payment
  /merchant/payment/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_new_post_200_response'
          description: ""
      summary: New Payment
      tags:
      - Payment
  /merchant/payment/refund/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.RefundCancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Cancel Payment Refund
      tags:
      - Payment
  /merchant/payment/refund/detail:
    get:
      parameters:
      - description: RefundId
        explode: true
        in: query
        name: refundId
        required: false
        schema:
          description: RefundId
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_refund_detail_get_200_response'
          description: ""
      summary: Payment Refund Detail
      tags:
      - Payment
  /merchant/payment/refund/list:
    get:
      parameters:
      - description: PaymentId
        explode: true
        in: query
        name: paymentId
        required: true
        schema:
          description: PaymentId
          format: string
          properties: {}
          type: string
        style: form
      - description: "Status,10-create|20-success|30-Failed|40-Reverse"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "Status,10-create|20-success|30-Failed|40-Reverse"
          format: int
          properties: {}
          type: integer
        style: form
      - description: GatewayId
        explode: true
        in: query
        name: gatewayId
        required: false
        schema:
          description: GatewayId
          format: int64
          properties: {}
          type: integer
        style: form
      - description: UserId
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: UserId
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Email
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: Email
          format: string
          properties: {}
          type: string
        style: form
      - description: Currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Currency
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_refund_list_get_200_response'
          description: ""
      summary: Get Payment Refund List
      tags:
      - Payment
  /merchant/payment/refund/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.NewPaymentRefundReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_refund_new_post_200_response'
          description: ""
      summary: New Payment Refund
      tags:
      - Payment
  /merchant/payment/timeline/list:
    get:
      parameters:
      - description: "Filter UserId, Default All"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: "Filter UserId, Default All"
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter start amount of timeline
        explode: true
        in: query
        name: amountStart
        required: false
        schema:
          description: The filter start amount of timeline
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: The filter end amount of timeline
        explode: true
        in: query
        name: amountEnd
        required: false
        schema:
          description: The filter end amount of timeline
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: "The filter status, 0-pending, 1-success, 2-failure，3-cancel"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The filter status, 0-pending, 1-success, 2-failure，3-cancel"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "The filter timelineType, 0-pay, 1-refund"
        explode: true
        in: query
        name: timelineTypes
        required: false
        schema:
          description: "The filter timelineType, 0-pay, 1-refund"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: The filter ids of gateway
        explode: true
        in: query
        name: gatewayIds
        required: false
        schema:
          description: The filter ids of gateway
          format: "[]int64"
          items:
            format: int64
[...]
