openapi: 3.0.0
info:
  description: This is UniBee Api Server
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI UniBee
  version: "daily,buildtime:202410181820"
servers:
- url: https://api.unibee.top
- url: http://127.0.0.1:8080
paths:
  /merchant/auth/sso/login:
    post:
      description: Password login for merchant member'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.LoginReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_login_post_200_response'
          description: ""
      summary: Login
      tags:
      - Auth
  /merchant/auth/sso/loginOTP:
    post:
      description: "OTP login for merchant member, send email to member's email address\
        \ with OTP code'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.LoginOtpReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: LoginOTP
      tags:
      - Auth
  /merchant/auth/sso/loginOTPVerify:
    post:
      description: "OTP login for merchant member, verify OTP code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.LoginOtpVerifyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_login_post_200_response'
          description: ""
      summary: LoginOTPVerify
      tags:
      - Auth
  /merchant/auth/sso/passwordForgetOTP:
    post:
      description: "Merchant member's password forget OTP process,, send email to\
        \ member's email address with OTP code'"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.PasswordForgetOtpReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: PasswordForgetOTP
      tags:
      - Auth
  /merchant/auth/sso/passwordForgetOTPVerify:
    post:
      description: "Merchant member's password forget OTP process, verify OTP code"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.PasswordForgetOtpVerifyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: PasswordForgetOTPVerify
      tags:
      - Auth
  /merchant/auth/sso/register:
    post:
      description: "Register merchant with owner, send email to owner's email address\
        \ with OTP code, only open for cloud version; the owner account will create\
        \ automatic for standalone version"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.RegisterReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Register
      tags:
      - Auth
  /merchant/auth/sso/registerVerify:
    post:
      description: "Merchant Register, verify OTP code "
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.auth.RegisterVerifyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_registerVerify_post_200_response'
          description: ""
      summary: RegisterVerify
      tags:
      - Auth
  /merchant/balance/merchant_balance_query:
    get:
      deprecated: true
      parameters:
      - description: gatewayId
        explode: true
        in: query
        name: gatewayId
        required: true
        schema:
          description: gatewayId
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_balance_merchant_balance_query_get_200_response'
          description: ""
      summary: Query Merchant Gateway Balance
      tags:
      - Balance
  /merchant/balance/user_balance_query:
    get:
      deprecated: true
      parameters:
      - description: userId
        explode: true
        in: query
        name: userId
        required: true
        schema:
          description: userId
          format: int64
          properties: {}
          type: integer
        style: form
      - description: gatewayId
        explode: true
        in: query
        name: gatewayId
        required: true
        schema:
          description: gatewayId
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_balance_user_balance_query_get_200_response'
          description: ""
      summary: Query User Balance
      tags:
      - Balance
  /merchant/country_config_list:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.profile.CountryConfigListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_country_config_list_post_200_response'
          description: ""
      summary: EditCountryConfig
      tags:
      - Profile
  /merchant/discount/activate:
    post:
      description: "Activate discount code, the discount code can only effect to payment\
        \ or subscription after activated"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.ActivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: ActivateDiscountCode
      tags:
      - Discount
  /merchant/discount/deactivate:
    post:
      description: Deactivate discount code
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.DeactivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: DeactivateDiscountCode
      tags:
      - Discount
  /merchant/discount/delete:
    post:
      description: Delete discount code before activate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: DeleteDiscountCode
      tags:
      - Discount
  /merchant/discount/detail:
    get:
      parameters:
      - description: The discount's Id
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: The discount's Id
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_detail_get_200_response'
          description: ""
      summary: Merchant Discount Detail
      tags:
      - Discount
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_detail_get_200_response'
          description: ""
      summary: Merchant Discount Detail
      tags:
      - Discount
  /merchant/discount/edit:
    post:
      description: Edit the discount code before activate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_edit_post_200_response'
          description: ""
      summary: EditDiscountCode
      tags:
      - Discount
  /merchant/discount/list:
    get:
      description: Get discountCode list
      parameters:
      - description: "discount_type, 1-percentage, 2-fixed_amount"
        explode: true
        in: query
        name: discountType
        required: false
        schema:
          description: "discount_type, 1-percentage, 2-fixed_amount"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "billing_type, 1-one-time, 2-recurring"
        explode: true
        in: query
        name: billingType
        required: false
        schema:
          description: "billing_type, 1-one-time, 2-recurring"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "status, 1-editable, 2-active, 3-deactive, 4-expire"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "status, 1-editable, 2-active, 3-deactive, 4-expire"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: Filter Code
        explode: true
        in: query
        name: code
        required: false
        schema:
          description: Filter Code
          format: string
          properties: {}
          type: string
        style: form
      - description: Filter Currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Filter Currency
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_list_get_200_response'
          description: ""
      summary: DiscountCodeList
      tags:
      - Discount
  /merchant/discount/new:
    post:
      description: "Create a new discount code, code can used in onetime or subscription\
        \ purchase to make discount"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_edit_post_200_response'
          description: ""
      summary: NewDiscountCode
      tags:
      - Discount
  /merchant/discount/plan_apply_preview:
    post:
      description: "Check discount can apply to plan, Only check rules about plan，\
        the actual usage is subject to the subscription interface"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.discount.PlanApplyPreviewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_plan_apply_preview_post_200_response'
          description: ""
      summary: PlanApplyPreview
      tags:
      - Discount
  /merchant/discount/user_discount_list:
    get:
      description: Get user discountCode list
      parameters:
      - description: The discount's Id
        explode: true
        in: query
        name: id
        required: true
        schema:
          description: The discount's Id
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_discount_user_discount_list_get_200_response'
          description: ""
      summary: UserDiscountCodeList
      tags:
      - Discount
  /merchant/edit_country_config:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.profile.EditCountryConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: CountryConfigList
      tags:
      - Profile
  /merchant/email/custom_localization_template_sync:
    post:
      description: Sync the custom localization email template to gateway (sendgrid)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.CustomizeLocalizationTemplateSyncReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: CustomizeLocalizationTemplateSync
      tags:
      - EmailTemplate
  /merchant/email/gateway_setup:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.GatewaySetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: EmailGatewaySetup
      tags:
      - Email
  /merchant/email/send_template_email_to_user:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.SendTemplateEmailToUserReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: SendTemplateEmailToUser
      tags:
      - Email
  /merchant/email/template_activate:
    post:
      description: Activate the email template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateActivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: EmailTemplateActivate
      tags:
      - EmailTemplate
  /merchant/email/template_deactivate:
    post:
      description: Deactivate the email template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateDeactivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: EmailTemplateDeactivate
      tags:
      - EmailTemplate
  /merchant/email/template_list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_email_template_list_get_200_response'
          description: ""
      summary: EmailTemplateList
      tags:
      - EmailTemplate
  /merchant/email/template_set_default:
    post:
      description: Setup email template as default
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateSetDefaultReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: EmailTemplateSetDefault
      tags:
      - EmailTemplate
  /merchant/email/template_update:
    post:
      description: Update the email template
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.email.TemplateUpdateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: EmailTemplateUpdate
      tags:
      - EmailTemplate
  /merchant/gateway/edit:
    post:
      description: edit the exist payment gateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_edit_post_200_response'
          description: ""
      summary: PaymentGatewayEdit
      tags:
      - Gateway
  /merchant/gateway/edit_country_config:
    post:
      description: "Edit country config for payment gateway, to enable or disable\
        \ the payment for countryCode, default is enable"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.EditCountryConfigReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: PaymentGatewayCountryConfigEdit
      tags:
      - Gateway
  /merchant/gateway/list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_list_get_200_response'
          description: ""
      summary: PaymentGatewayList
      tags:
      - Gateway
  /merchant/gateway/setup:
    post:
      description: Setup the payment gateway
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.SetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_edit_post_200_response'
          description: ""
      summary: PaymentGatewaySetup
      tags:
      - Gateway
  /merchant/gateway/setup_webhook:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.SetupWebhookReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_gateway_setup_webhook_post_200_response'
          description: ""
      summary: PaymentGatewayWebhookSetup
      tags:
      - Gateway
  /merchant/gateway/wire_transfer_edit:
    post:
      description: Edit the wire transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.WireTransferEditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: WireTransferEdit
      tags:
      - Gateway
  /merchant/gateway/wire_transfer_setup:
    post:
      description: Setup the wire transfer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.gateway.WireTransferSetupReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: WireTransferSetup
      tags:
      - Gateway
  /merchant/get:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_get_get_200_response'
          description: ""
      summary: MerchantProfile
      tags:
      - Profile
  /merchant/invoice/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.CancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Admin Cancel Invoice Of Processing Status
      tags:
      - Invoice
  /merchant/invoice/delete:
    post:
      description: Delete invoice of pending status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: DeletePendingInvoice
      tags:
      - Invoice
  /merchant/invoice/detail:
    get:
      description: Get detail of invoice
      parameters:
      - description: The unique id of invoice
        explode: true
        in: query
        name: invoiceId
        required: true
        schema:
          description: The unique id of invoice
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_detail_get_200_response'
          description: ""
      summary: InvoiceDetail
      tags:
      - Invoice
    post:
      description: Get detail of invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_detail_get_200_response'
          description: ""
      summary: InvoiceDetail
      tags:
      - Invoice
  /merchant/invoice/edit:
    post:
      description: Edit invoice of pending status
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_edit_post_200_response'
          description: ""
      summary: InvoiceEdit
      tags:
      - Invoice
  /merchant/invoice/finish:
    post:
      description: "Finish invoice, generate invoice link"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.FinishReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_finish_post_200_response'
          description: ""
      summary: FinishInvoice
      tags:
      - Invoice
  /merchant/invoice/list:
    get:
      description: Get invoice list
      parameters:
      - description: The firstName of invoice
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          description: The firstName of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: The lastName of invoice
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          description: The lastName of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: The currency of invoice
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: The currency of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: "The status of invoice, 1-pending｜2-processing｜3-paid | 4-failed\
          \ | 5-cancelled"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The status of invoice, 1-pending｜2-processing｜3-paid | 4-failed\
            \ | 5-cancelled"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: The filter start amount of invoice
        explode: true
        in: query
        name: amountStart
        required: false
        schema:
          description: The filter start amount of invoice
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: The filter end amount of invoice
        explode: true
        in: query
        name: amountEnd
        required: false
        schema:
          description: The filter end amount of invoice
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: The filter userid of invoice
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: The filter userid of invoice
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter email of invoice
        explode: true
        in: query
        name: sendEmail
        required: false
        schema:
          description: The filter email of invoice
          format: string
          properties: {}
          type: string
        style: form
      - description: Filter，em. invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
          gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Filter，em. invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
            gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: Deleted Involved，Need Admin Permission
        explode: true
        in: query
        name: deleteInclude
        required: false
        schema:
          description: Deleted Involved，Need Admin Permission
          format: bool
          properties: {}
          type: boolean
        style: form
      - description: "invoice Type, 0-payment, 1-refund"
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: "invoice Type, 0-payment, 1-refund"
          format: '*int'
          properties: {}
          type: integer
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count By Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count By Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      - description: ReportTimeStart
        explode: true
        in: query
        name: reportTimeStart
        required: false
        schema:
          description: ReportTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: ReportTimeEnd
        explode: true
        in: query
        name: reportTimeEnd
        required: false
        schema:
          description: ReportTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_list_get_200_response'
          description: ""
      summary: InvoiceList
      tags:
      - Invoice
    post:
      description: Get invoice list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.ListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_list_get_200_response'
          description: ""
      summary: InvoiceList
      tags:
      - Invoice
  /merchant/invoice/mark_refund:
    post:
      description: Mark invoice as refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.MarkRefundReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_mark_refund_post_200_response'
          description: ""
      summary: MarkInvoiceRefund
      tags:
      - Invoice
  /merchant/invoice/mark_refund_success:
    post:
      description: "Mark refund invoice success, only support Changelly and Wire Transfer"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.MarkRefundInvoiceSuccessReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: MarkInvoiceRefundSuccess
      tags:
      - Invoice
  /merchant/invoice/mark_wire_transfer_success:
    post:
      description: Mark wire transfer pending invoice as success
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.MarkWireTransferSuccessReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: MarkWireTransferInvoiceSuccess
      tags:
      - Invoice
  /merchant/invoice/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_edit_post_200_response'
          description: ""
      summary: NewInvoice
      tags:
      - Invoice
  /merchant/invoice/pdf_generate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.PdfGenerateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: GenerateInvoicePDF
      tags:
      - Invoice
  /merchant/invoice/pdf_update:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.PdfUpdateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: UpdateInvoicePDF
      tags:
      - Invoice
  /merchant/invoice/reconvert_crypto_and_send_email:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.ReconvertCryptoAndSendReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Admin Reconvert Crypto Data and Send Invoice Email to User
      tags:
      - Invoice
  /merchant/invoice/refund:
    post:
      description: Create payment refund for paid invoice
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.RefundReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_invoice_mark_refund_post_200_response'
          description: ""
      summary: CreateInvoiceRefund
      tags:
      - Invoice
  /merchant/invoice/send_email:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.invoice.SendEmailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: SendInvoiceEmail
      tags:
      - Invoice
  /merchant/member/list:
    get:
      parameters:
      - description: The member's roleId if specified'
        explode: true
        in: query
        name: roleIds
        required: false
        schema:
          description: The member's roleId if specified'
          format: "[]int64"
          items:
            format: int64
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_member_list_get_200_response'
          description: ""
      summary: GetMemberList
      tags:
      - Member
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.ListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_member_list_get_200_response'
          description: ""
      summary: GetMemberList
      tags:
      - Member
  /merchant/member/logout:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.LogoutReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: MemberLogout
      tags:
      - Member
  /merchant/member/new_member:
    post:
      description: "Will send email to member email provided, member can enter admin\
        \ portal by email otp login"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.NewMemberReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Invite member
      tags:
      - Member
  /merchant/member/operation_log_list:
    get:
      parameters:
      - description: Filter Member's FirstName Default All
        explode: true
        in: query
        name: memberFirstName
        required: false
        schema:
          description: Filter Member's FirstName Default All
          format: string
          properties: {}
          type: string
        style: form
      - description: "Filter Member's LastName, Default All"
        explode: true
        in: query
        name: memberLastName
        required: false
        schema:
          description: "Filter Member's LastName, Default All"
          format: string
          properties: {}
          type: string
        style: form
      - description: "Filter Member's Email, Default All"
        explode: true
        in: query
        name: memberEmail
        required: false
        schema:
          description: "Filter Member's Email, Default All"
          format: string
          properties: {}
          type: string
        style: form
      - description: FirstName
        explode: true
        in: query
        name: firstName
        required: false
        schema:
          description: FirstName
          format: string
          properties: {}
          type: string
        style: form
      - description: LastName
        explode: true
        in: query
        name: lastName
        required: false
        schema:
          description: LastName
          format: string
          properties: {}
          type: string
        style: form
      - description: Email
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: Email
          format: string
          properties: {}
          type: string
        style: form
      - description: subscription_id
        explode: true
        in: query
        name: subscriptionId
        required: false
        schema:
          description: subscription_id
          format: string
          properties: {}
          type: string
        style: form
      - description: invoice id
        explode: true
        in: query
        name: invoiceId
        required: false
        schema:
          description: invoice id
          format: string
          properties: {}
          type: string
        style: form
      - description: plan id
        explode: true
        in: query
        name: planId
        required: false
        schema:
          description: plan id
          format: int64
          properties: {}
          type: integer
        style: form
      - description: discount_code
        explode: true
        in: query
        name: discountCode
        required: false
        schema:
          description: discount_code
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_member_operation_log_list_get_200_response'
          description: ""
      summary: GetMemberOperationLogList
      tags:
      - Member
  /merchant/member/passwordReset:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.PasswordResetReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: MemberResetPassword
      tags:
      - Member
  /merchant/member/profile:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_registerVerify_post_200_response'
          description: ""
      summary: GetMemberProfile
      tags:
      - Member
  /merchant/member/resume_member:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.ReleaseReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: ResumeMember
      tags:
      - Member
  /merchant/member/suspend_member:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.FrozenReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: SuspendMember
      tags:
      - Member
  /merchant/member/update_member_role:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.member.UpdateMemberRoleReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: UpdateMemberRole
      tags:
      - Member
  /merchant/metric/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: Delete Merchant Metric
      tags:
      - Metric
  /merchant/metric/detail:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: Merchant Metric Detail
      tags:
      - Metric
  /merchant/metric/edit:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: Edit Merchant Metric
      tags:
      - Metric
  /merchant/metric/event/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DeleteEventReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Del Merchant Metric Event
      tags:
      - Metric
  /merchant/metric/event/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.NewEventReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_event_new_post_200_response'
          description: ""
      summary: Merchant Metric Event
      tags:
      - Metric
  /merchant/metric/list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_list_get_200_response'
          description: ""
      summary: Merchant Metric list
      tags:
      - Metric
  /merchant/metric/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_delete_post_200_response'
          description: ""
      summary: New Merchant Metric
      tags:
      - Metric
  /merchant/metric/plan/limit/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.DeletePlanLimitReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_plan_limit_delete_post_200_response'
          description: ""
      summary: Delete Merchant Metric Plan TotalLimit
      tags:
      - Metric
  /merchant/metric/plan/limit/edit:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.EditPlanLimitReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_plan_limit_delete_post_200_response'
          description: ""
      summary: Edit Merchant Metric Plan TotalLimit
      tags:
      - Metric
  /merchant/metric/plan/limit/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.metric.NewPlanLimitReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_plan_limit_delete_post_200_response'
          description: ""
      summary: New Merchant Metric Plan TotalLimit
      tags:
      - Metric
  /merchant/metric/user/metric:
    get:
      parameters:
      - description: "UserId, One Of UserId|ExternalUserId Needed"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: "UserId, One Of UserId|ExternalUserId Needed"
          format: int64
          properties: {}
          type: integer
        style: form
      - description: "ExternalUserId, One Of UserId|ExternalUserId Needed"
        explode: true
        in: query
        name: externalUserId
        required: false
        schema:
          description: "ExternalUserId, One Of UserId|ExternalUserId Needed"
          format: string
          properties: {}
          type: string
        style: form
      - description: default product will use if productId not specified and subscriptionId
          is blank
        explode: true
        in: query
        name: productId
        required: false
        schema:
          description: default product will use if productId not specified and subscriptionId
            is blank
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_metric_user_metric_get_200_response'
          description: ""
      summary: Query User Metric
      tags:
      - User-Metric
  /merchant/new_apikey:
    post:
      description: "generate new apikey, The old one expired in one hour"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.profile.NewApiKeyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_new_apikey_post_200_response'
          description: ""
      summary: GenerateNewApiKey
      tags:
      - Profile
  /merchant/payment/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.CancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: CancelPayment
      tags:
      - Payment
  /merchant/payment/capture:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.CaptureReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: CapturePayment
      tags:
      - Payment
  /merchant/payment/detail:
    get:
      parameters:
      - description: The unique id of payment
        explode: true
        in: query
        name: paymentId
        required: true
        schema:
          description: The unique id of payment
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_detail_get_200_response'
          description: ""
      summary: PaymentDetail
      tags:
      - Payment
  /merchant/payment/item/list:
    get:
      parameters:
      - description: "Filter UserId, Default All"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: "Filter UserId, Default All"
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
          gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
            gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page,Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page,Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_item_list_get_200_response'
          description: ""
      summary: OneTimePaymentItemList
      tags:
      - Payment
  /merchant/payment/list:
    get:
      parameters:
      - description: The filter unique id of gateway
        explode: true
        in: query
        name: gatewayId
        required: false
        schema:
          description: The filter unique id of gateway
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter userid of payment
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: The filter userid of payment
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter email of payment
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: The filter email of payment
          format: string
          properties: {}
          type: string
        style: form
      - description: "The filter status of payment, 10-Created|20-Success|30-Failed|40-Cancelled"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The filter status of payment, 10-Created|20-Success|30-Failed|40-Cancelled"
          format: int
          properties: {}
          type: integer
        style: form
      - description: The filter currency of payment
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: The filter currency of payment
          format: string
          properties: {}
          type: string
        style: form
      - description: The filter country code of payment
        explode: true
        in: query
        name: countryCode
        required: false
        schema:
          description: The filter country code of payment
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，user_id|create_time|status
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，user_id|create_time|status
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_list_get_200_response'
          description: ""
      summary: PaymentList
      tags:
      - Payment
  /merchant/payment/method_delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.MethodDeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: Delete Payment Method From User
      tags:
      - Payment
  /merchant/payment/method_get:
    get:
      description: The method of payment gateway
      parameters:
      - description: The unique id of gateway
        explode: true
        in: query
        name: gatewayId
        required: true
        schema:
          description: The unique id of gateway
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The customer's unique id
        explode: true
        in: query
        name: userId
        required: true
        schema:
          description: The customer's unique id
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The unique id of payment method
        explode: true
        in: query
        name: paymentMethodId
        required: true
        schema:
          description: The unique id of payment method
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_method_get_get_200_response'
          description: ""
      summary: PaymentMethod
      tags:
      - Payment
  /merchant/payment/method_list:
    get:
      description: The method list of payment gateway
      parameters:
      - description: The unique id of gateway
        explode: true
        in: query
        name: gatewayId
        required: true
        schema:
          description: The unique id of gateway
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The id of user
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: The id of user
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The unique id of payment
        explode: true
        in: query
        name: paymentId
        required: false
        schema:
          description: The unique id of payment
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_method_list_get_200_response'
          description: ""
      summary: PaymentMethodList
      tags:
      - Payment
  /merchant/payment/method_new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.MethodNewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_method_new_post_200_response'
          description: ""
      summary: Create New Payment Method And Attach To User
      tags:
      - Payment
  /merchant/payment/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_new_post_200_response'
          description: ""
      summary: NewPayment
      tags:
      - Payment
  /merchant/payment/refund/cancel:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.RefundCancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: CancelPaymentRefund
      tags:
      - Payment
  /merchant/payment/refund/detail:
    get:
      parameters:
      - description: RefundId
        explode: true
        in: query
        name: refundId
        required: false
        schema:
          description: RefundId
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_refund_detail_get_200_response'
          description: ""
      summary: PaymentRefundDetail
      tags:
      - Payment
  /merchant/payment/refund/list:
    get:
      parameters:
      - description: PaymentId
        explode: true
        in: query
        name: paymentId
        required: true
        schema:
          description: PaymentId
          format: string
          properties: {}
          type: string
        style: form
      - description: "Status,10-create|20-success|30-Failed|40-Reverse"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "Status,10-create|20-success|30-Failed|40-Reverse"
          format: int
          properties: {}
          type: integer
        style: form
      - description: GatewayId
        explode: true
        in: query
        name: gatewayId
        required: false
        schema:
          description: GatewayId
          format: int64
          properties: {}
          type: integer
        style: form
      - description: UserId
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: UserId
          format: int64
          properties: {}
          type: integer
        style: form
      - description: Email
        explode: true
        in: query
        name: email
        required: false
        schema:
          description: Email
          format: string
          properties: {}
          type: string
        style: form
      - description: Currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Currency
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_refund_list_get_200_response'
          description: ""
      summary: PaymentRefundList
      tags:
      - Payment
  /merchant/payment/refund/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.payment.NewPaymentRefundReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_refund_new_post_200_response'
          description: ""
      summary: NewPaymentRefund
      tags:
      - Payment
  /merchant/payment/timeline/list:
    get:
      parameters:
      - description: "Filter UserId, Default All"
        explode: true
        in: query
        name: userId
        required: false
        schema:
          description: "Filter UserId, Default All"
          format: int64
          properties: {}
          type: integer
        style: form
      - description: The filter start amount of timeline
        explode: true
        in: query
        name: amountStart
        required: false
        schema:
          description: The filter start amount of timeline
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: The filter end amount of timeline
        explode: true
        in: query
        name: amountEnd
        required: false
        schema:
          description: The filter end amount of timeline
          format: '*int64'
          properties: {}
          type: integer
        style: form
      - description: "The filter status, 0-pending, 1-success, 2-failure"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "The filter status, 0-pending, 1-success, 2-failure"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "The filter timelineType, 0-pay, 1-refund"
        explode: true
        in: query
        name: timelineTypes
        required: false
        schema:
          description: "The filter timelineType, 0-pay, 1-refund"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: The filter ids of gateway
        explode: true
        in: query
        name: gatewayIds
        required: false
        schema:
          description: The filter ids of gateway
          format: "[]int64"
          items:
            format: int64
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: Currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Currency
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
          gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort，invoice_id|gmt_create|gmt_modify|period_end|total_amount，Default
            gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page,Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page,Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      - description: CreateTimeStart
        explode: true
        in: query
        name: createTimeStart
        required: false
        schema:
          description: CreateTimeStart
          format: int64
          properties: {}
          type: integer
        style: form
      - description: CreateTimeEnd
        explode: true
        in: query
        name: createTimeEnd
        required: false
        schema:
          description: CreateTimeEnd
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_payment_timeline_list_get_200_response'
          description: ""
      summary: PaymentTimeLineList
      tags:
      - Payment
  /merchant/plan/activate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.ActivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: ActivatePlan
      tags:
      - Plan
  /merchant/plan/addons_binding:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.AddonsBindingReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_addons_binding_post_200_response'
          description: ""
      summary: AddonBinding
      tags:
      - Plan
  /merchant/plan/copy:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.CopyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_addons_binding_post_200_response'
          description: ""
      summary: CopyPlan
      tags:
      - Plan
  /merchant/plan/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: DeletePlan
      tags:
      - Plan
  /merchant/plan/detail:
    get:
      parameters:
      - description: PlanId
        explode: true
        in: query
        name: planId
        required: true
        schema:
          description: PlanId
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_detail_get_200_response'
          description: ""
      summary: PlanDetail
      tags:
      - Plan
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_detail_get_200_response'
          description: ""
      summary: PlanDetail
      tags:
      - Plan
  /merchant/plan/edit:
    post:
      description: "Edit exist plan, amount|currency|intervalUnit|intervalCount is\
        \ not editable when plan is active "
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_addons_binding_post_200_response'
          description: ""
      summary: EditPlan
      tags:
      - Plan
  /merchant/plan/expire:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.ExpireReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: ExpirePlan
      tags:
      - Plan
  /merchant/plan/list:
    get:
      parameters:
      - description: "filter id list of product, default all"
        explode: true
        in: query
        name: productIds
        required: false
        schema:
          description: "filter id list of product, default all"
          format: "[]int64"
          items:
            format: int64
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: 1-main plan，2-addon plan
        explode: true
        in: query
        name: type
        required: false
        schema:
          description: 1-main plan，2-addon plan
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "Filter, Default All，,Status，1-Editing，2-Active，3-InActive，4-Expired"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "Filter, Default All，,Status，1-Editing，2-Active，3-InActive，\
            4-Expired"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: "Filter, Default All，PublishStatus，1-UnPublished，2-Published"
        explode: true
        in: query
        name: publishStatus
        required: false
        schema:
          description: "Filter, Default All，PublishStatus，1-UnPublished，2-Published"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Filter Currency
        explode: true
        in: query
        name: currency
        required: false
        schema:
          description: Filter Currency
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，gmt_create|gmt_modify，Default gmt_modify
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_list_get_200_response'
          description: ""
      summary: PlanList
      tags:
      - Plan
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.ListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_list_get_200_response'
          description: ""
      summary: PlanList
      tags:
      - Plan
  /merchant/plan/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_plan_addons_binding_post_200_response'
          description: ""
      summary: CreatePlan
      tags:
      - Plan
  /merchant/plan/publish:
    post:
      description: Publish plan，a plan will display at user portal when its published
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.PublishReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: PublishPlan
      tags:
      - Plan
  /merchant/plan/unpublished:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.plan.UnPublishReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: UnPublishPlan
      tags:
      - Plan
  /merchant/product/activate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.ActivateReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: ActivateProduct
      tags:
      - Product
  /merchant/product/copy:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.CopyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_copy_post_200_response'
          description: ""
      summary: CopyProduct
      tags:
      - Product
  /merchant/product/delete:
    post:
      description: Product can being deleted when has no plan linked
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: DeleteProduct
      tags:
      - Product
  /merchant/product/detail:
    get:
      parameters:
      - description: ProductId
        explode: true
        in: query
        name: productId
        required: true
        schema:
          description: ProductId
          format: int64
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_copy_post_200_response'
          description: ""
      summary: ProductDetail
      tags:
      - Product
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.DetailReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_copy_post_200_response'
          description: ""
      summary: ProductDetail
      tags:
      - Product
  /merchant/product/edit:
    post:
      description: "Edit exist product, product is editable for both active and inactive\
        \ status "
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_copy_post_200_response'
          description: ""
      summary: EditProduct
      tags:
      - Product
  /merchant/product/inactivate:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.InactiveReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: InactivateProduct
      tags:
      - Product
  /merchant/product/list:
    get:
      parameters:
      - description: "Filter, Default All，,Status，1-active，2-inactive"
        explode: true
        in: query
        name: status
        required: false
        schema:
          description: "Filter, Default All，,Status，1-active，2-inactive"
          format: "[]int"
          items:
            format: int
            properties: {}
            type: integer
          properties: {}
          type: array
        style: form
      - description: Sort Field，id|create_time|gmt_modify，Default id
        explode: true
        in: query
        name: sortField
        required: false
        schema:
          description: Sort Field，id|create_time|gmt_modify，Default id
          format: string
          properties: {}
          type: string
        style: form
      - description: Sort Type，asc|desc，Default desc
        explode: true
        in: query
        name: sortType
        required: false
        schema:
          description: Sort Type，asc|desc，Default desc
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Per Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Per Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_list_get_200_response'
          description: ""
      summary: ProductList
      tags:
      - Product
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.ListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_list_get_200_response'
          description: ""
      summary: ProductList
      tags:
      - Product
  /merchant/product/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.product.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_product_copy_post_200_response'
          description: ""
      summary: CreateProduct
      tags:
      - Product
  /merchant/role/delete:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.role.DeleteReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: DeleteRole
      tags:
      - Role
  /merchant/role/edit:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.role.EditReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: EditRole
      tags:
      - Role
  /merchant/role/list:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_role_list_get_200_response'
          description: ""
      summary: RoleList
      tags:
      - Role
  /merchant/role/new:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.role.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: NewRole
      tags:
      - Role
  /merchant/search/key_search:
    get:
      parameters:
      - description: "SearchKey, Will Search UserId|Email|UserName|CompanyName|SubscriptionId|VatNumber|InvoiceId||PaymentId"
        explode: true
        in: query
        name: searchKey
        required: false
        schema:
          description: "SearchKey, Will Search UserId|Email|UserName|CompanyName|SubscriptionId|VatNumber|InvoiceId||PaymentId"
          format: string
          properties: {}
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_search_key_search_get_200_response'
          description: ""
      summary: Search
      tags:
      - Search
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.search.SearchReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_search_key_search_get_200_response'
          description: ""
      summary: Search
      tags:
      - Search
  /merchant/session/new_session:
    post:
      description: New session for user portal or web component
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.session.NewReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_session_new_session_post_200_response'
          description: ""
      summary: NewSession
      tags:
      - Session
  /merchant/subscription/active_temporarily:
    post:
      description: "Subscription active temporarily, status will transmit from pending\
        \ to incomplete"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.subscription.ActiveTemporarilyReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: SubscriptionActiveTemporarily
      tags:
      - Subscription
  /merchant/subscription/add_new_trial_start:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.subscription.AddNewTrialStartReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: AppendSubscriptionTrialEnd
      tags:
      - Subscription
  /merchant/subscription/admin_note_list:
    get:
      parameters:
      - description: SubscriptionId
        explode: true
        in: query
        name: subscriptionId
        required: true
        schema:
          description: SubscriptionId
          format: string
          properties: {}
          type: string
        style: form
      - description: "Page, Start With 0"
        explode: true
        in: query
        name: page
        required: false
        schema:
          description: "Page, Start With 0"
          format: int
          properties: {}
          type: integer
        style: form
      - description: Count Of Page
        explode: true
        in: query
        name: count
        required: false
        schema:
          description: Count Of Page
          format: int
          properties: {}
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_subscription_admin_note_list_get_200_response'
          description: ""
      summary: SubscriptionNoteList
      tags:
      - Subscription-Note
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.subscription.AdminNoteListReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_subscription_admin_note_list_get_200_response'
          description: ""
      summary: SubscriptionNoteList
      tags:
      - Subscription-Note
  /merchant/subscription/cancel:
    post:
      description: "Cancel subscription immediately, no proration invoice will generate"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/unibee.api.merchant.subscription.CancelReq'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_merchant_auth_sso_loginOTP_post_200_response'
          description: ""
      summary: CancelSubscriptionImmediately
      tags:
      - Subscription
[...]
